Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

new changes in neo
  pages/login.js
  pages/verify-email/[id]/index.js
  ui/page-components/authentication/components/ForgotPassword/EmailForm/styles.module.css
  ui/page-components/authentication/components/GetStarted/DetailsForm/styles.module.css
  ui/page-components/authentication/components/Login/EmailLoginForm/styles.module.css
  ui/page-components/authentication/components/Login/LoginTabs/index.js
  ui/page-components/authentication/components/Login/MobileLoginForm/styles.module.css
  ui/page-components/authentication/components/ResetPassword/index.js
  ui/page-components/authentication/components/ResetPassword/styles.module.css
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

removed faaltu code
  ui/page-components/authentication/components/Login/MobilLogineNoForm/MobileLoginForm/index.js
  ui/page-components/authentication/components/Login/MobilLogineNoForm/MobileLoginForm/styles.module.css
  ui/page-components/authentication/components/Login/MobilLogineNoForm/OtpForm/index.js
  ui/page-components/authentication/components/Login/MobilLogineNoForm/OtpForm/styles.module.css
  ui/page-components/authentication/components/Login/MobilLogineNoForm/OtpForm/useOtpForm.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

feat: partial flow for checking/uploading specific service documents
  ui/page-components/documents/InnerUploadControls.js
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/components/ServiceUploadDocument/styles.module.css
  ui/page-components/documents/components/index.js
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes ip location in neo
  ui/page-components/authentication/components/Login/LoginTabs/index.js
  ui/page-components/authentication/hooks/useMobileLoginForm.js
  ui/page-components/authentication/hooks/useSignupForm.js
  ui/page-components/authentication/utils/get-country-details.js
  ui/page-components/authentication/utils/get-id-by-mobile-country-code.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

nominated quotation
  ui/page-components/shipments/components/List/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/index.js
  ui/page-components/shipments/components/ShipmentDetails/hooks/useGetNominatedSellQuotation.js
  ui/page-components/shipments/hooks/useGetShipmentList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

translation done
  pages/[org_id]/[branch_id]/dashboard/index.js
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/commons/constants/globals.js
  ui/page-components/dashboard/common/getText.js
  ui/page-components/dashboard/components/DiscoverRates/index.js
  ui/page-components/dashboard/components/Elgibility/index.js
  ui/page-components/dashboard/components/ExportFactoring/index.js
  ui/page-components/dashboard/components/KYCPage/PendingKyc/index.js
  ui/page-components/dashboard/components/KYCPage/RejectedKyc/index.js
  ui/page-components/dashboard/components/KYCPage/VerifiedKyc/index.js
  ui/page-components/dashboard/components/KYCPage/index.js
  ui/page-components/dashboard/components/Schedule/index.js
  ui/page-components/dashboard/components/Shipments/OnGoingShipmentsCard/index.js
  ui/page-components/dashboard/components/Shipments/index.js
  ui/page-components/dashboard/components/Tracking/ActiveTracking/index.js
  ui/page-components/dashboard/components/Tracking/index.js
  ui/page-components/dashboard/hooks/ListShipments.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes ref
  ui/commons/components/CogoBot/helpers/addInitialMessage.js
  ui/commons/components/WebBot/ChatBotBody/EachMessage/UserReceivedView/FooterItems/index.js
  ui/commons/components/WebBot/ChatBotBody/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/dashboard/components/Shipments/OnGoingShipmentsCard/index.js
  ui/page-components/dashboard/components/Tracking/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/hs-code-classification/components/AddProductModal/ModalDetails/index.js
  ui/page-components/hs-code-classification/components/SectionList/ChapterList/HeadingList/index.js
  ui/page-components/hs-code-classification/components/SectionList/ChapterList/index.js
  ui/page-components/hs-code-classification/configurations/advFilter.js
  ui/page-components/hs-code-classification/configurations/cardfilter.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/hs-code-classification/components/AddProductModal/ModalDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fix
  ui/page-components/dashboard/components/Shipments/OnGoingShipmentsCard/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

transaction history result modal fix
  ui/commons/components/DutiesTaxes/index.js
  ui/commons/components/DutiesTaxes/styles.module.css
  ui/commons/components/ImportExportDoc/styles.module.css
  ui/commons/components/TraderEligibility/index.js
  ui/commons/components/TraderEligibility/styles.module.css
  ui/page-components/transactionHistory/component/TransactionModal/index.js
  ui/page-components/transactionHistory/component/TransactionModal/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

directore page
  ui/page-components/export-factoring/components/CompanyInformation/CompanyDetails/Details/index.js
  ui/page-components/export-factoring/components/CompanyInformation/EditDetails/index.js
  ui/page-components/export-factoring/components/CompanyInformation/index.js
  ui/page-components/export-factoring/components/DirectorInformation/Details/index.js
  ui/page-components/export-factoring/components/DirectorInformation/EditDetails/index.js
  ui/page-components/export-factoring/components/DirectorInformation/index.js
  ui/page-components/export-factoring/components/index.js
  ui/page-components/export-factoring/configurations/editDirectorControls.js
  ui/page-components/export-factoring/hooks/useupdateCreditRequestPromotion.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transpile for neo auth
  pages/forgot-password.js
  pages/get-started.js
  pages/reset-password/[id]/index.js
  pages/signup.js
  pages/verify-email/[id]/index.js
  public/locales/en-IN/authentication.json
  public/locales/en-IN/common.json
  public/locales/en-IN/forgotPassword.json
  public/locales/vi-VN/forgotPassword.json
  ui/page-components/authentication/components/ForgotPassword/EmailForm/index.js
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/index.js
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/styles.module.css
  ui/page-components/authentication/components/ForgotPassword/index.js
  ui/page-components/authentication/components/Login/EmailLoginForm/index.js
  ui/page-components/authentication/components/Login/LoginTabs/index.js
  ui/page-components/authentication/components/Login/MobileLoginForm/index.js
  ui/page-components/authentication/components/Login/OTPLoginForm/index.js
  ui/page-components/authentication/components/Login/index.js
  ui/page-components/authentication/components/Signup/OTPSignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/index.js
  ui/page-components/authentication/components/common/HelpCard/index.js
  ui/page-components/authentication/components/common/LayoutHelp/index.js
  ui/page-components/authentication/components/common/LayoutLogo/index.js
  ui/page-components/authentication/components/common/LoadingPrompts/index.js
  ui/page-components/authentication/configurations/loading-prompts.js
  ui/page-components/authentication/hooks/useMobileLoginForm.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/authentication/hooks/useSignupForm.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/CogoBot/hooks/useFetchRoom.js
  ui/commons/components/CogoBot/index.js
  ui/commons/components/WebBot/ChatBotBody/index.js
  ui/commons/components/WebBot/FooterChat/EmojisBody/index.js
  ui/commons/components/WebBot/FooterChat/index.js
  ui/commons/components/WebBot/helpers/templateTextFormatting.js
  ui/commons/components/WebBot/hooks/useGetMessages.js
  ui/commons/components/WebBot/index.js
  ui/commons/constants/globals.js
  ui/commons/hooks/useDynamicIntelligence.js
  ui/commons/hooks/useGetEmojiList.js
  ui/commons/hooks/usePublicSendMessage.js
  ui/commons/hooks/useSendMessage.js
  ui/commons/utils/getFileAttributes.js
  ui/commons/utils/getPayloadForPublicSendMessage.js
  ui/commons/utils/getPayloadForSendMessage.js
  ui/page-components/_app/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

transpile auth neo
  public/locales/vi-VN/authentication.json
  public/locales/vi-VN/common.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr chaanges
  public/locales/en-IN/productCatalogue.json
  public/locales/vi-VN/productCatalogue.json
  ui/page-components/product-catalouge/common/Countries/index.js
  ui/page-components/product-catalouge/common/List/MobileViewIndex/index.js
  ui/page-components/product-catalouge/common/Price/index.js
  ui/page-components/product-catalouge/components/AllProducts/ArchiveModal/index.js
  ui/page-components/product-catalouge/components/AllProducts/index.js
  ui/page-components/product-catalouge/components/ArchiveList/UnArchivedModal/index.js
  ui/page-components/product-catalouge/components/ProductTab/ListView/index.js
  ui/page-components/product-catalouge/hooks/useHsCodeList.js
  ui/page-components/product-catalouge/hooks/useProductCatalogue.js
  ui/page-components/product-catalouge/hooks/useUploadDocuments.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  pages/[org_id]/[branch_id]/saas/product-inventory/archived/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/common/Coupons/index.js
  ui/page-components/cogo-subscriptions/common/SuccessModal/index.js
  ui/page-components/cogo-subscriptions/common/SuccessModal/styles.module.css
  ui/page-components/cogo-subscriptions/common/TableList/index.js
  ui/page-components/cogo-subscriptions/common/TableList/styles.module.css
  ui/page-components/cogo-subscriptions/components/balance-history/component/List/TableHeader/index.js
  ui/page-components/cogo-subscriptions/components/balance-history/component/List/TableHeader/styles.module.css
  ui/page-components/cogo-subscriptions/components/balance-history/component/List/TableList/index.js
  ui/page-components/cogo-subscriptions/components/balance-history/component/List/TableList/styles.module.css
  ui/page-components/cogo-subscriptions/components/balance-history/component/Usage/index.js
  ui/page-components/cogo-subscriptions/components/balance-history/component/Usage/styles.module.css
  ui/page-components/cogo-subscriptions/components/checkout/BillingDetails/index.js
  ui/page-components/cogo-subscriptions/components/checkout/Charges/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/EnterpriseDescription/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/MobileView/CardHeader/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/MobileView/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/SubscriptionsPlanList/PlanDescription/ActivateModal/index.js
  ui/page-components/cogo-subscriptions/hooks/useCard.js
  ui/page-components/cogo-subscriptions/hooks/useGetUserActivePlan.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr chnges
  ui/page-components/product-catalouge/components/AllProducts/ArchiveModal/index.js
  ui/page-components/product-catalouge/components/AllProducts/index.js
  ui/page-components/product-catalouge/hooks/useArchive.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transaction history transpile done
  pages/[org_id]/[branch_id]/saas/transaction-history/index.js
  public/locales/en-IN/transactionHistory.json
  public/locales/vi-VN/transactionHistory.json
  ui/page-components/transactionHistory/component/AllFilters/Filter/index.js
  ui/page-components/transactionHistory/component/AllFilters/index.js
  ui/page-components/transactionHistory/component/List/CardHeader/index.js
  ui/page-components/transactionHistory/component/List/CardHeader/styles.module.css
  ui/page-components/transactionHistory/component/List/Item/index.js
  ui/page-components/transactionHistory/component/List/Item/renderFunctions.js
  ui/page-components/transactionHistory/component/List/index.js
  ui/page-components/transactionHistory/component/Transaction/index.js
  ui/page-components/transactionHistory/component/TransactionModal/CommonServicesModal/index.js
  ui/page-components/transactionHistory/component/TransactionModal/CommonServicesModal/styles.module.css
  ui/page-components/transactionHistory/component/TransactionModal/Controls/index.js
  ui/page-components/transactionHistory/component/TransactionModal/Controls/styles.module.css
  ui/page-components/transactionHistory/component/TransactionModal/Documents/index.js
  ui/page-components/transactionHistory/component/TransactionModal/Duties/index.js
  ui/page-components/transactionHistory/component/TransactionModal/Duties/styles.module.css
  ui/page-components/transactionHistory/component/TransactionModal/QuotationModal/index.js
  ui/page-components/transactionHistory/component/TransactionModal/QuotationModal/styles.module.css
  ui/page-components/transactionHistory/component/TransactionModal/configuration.js
  ui/page-components/transactionHistory/component/TransactionModal/index.js
  ui/page-components/transactionHistory/component/TransactionModal/landedCost/index.js
  ui/page-components/transactionHistory/configurations/listconfig.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  public/locales/vi-VN/forgotPassword.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transpile auth neo
  public/locales/en-IN/authentication.json
  public/locales/en-IN/common.json
  public/locales/vi-VN/authentication.json
  public/locales/vi-VN/common.json
  ui/page-components/authentication/components/ForgotPassword/EmailForm/index.js
  ui/page-components/authentication/components/ForgotPassword/index.js
  ui/page-components/authentication/components/GetStarted/DetailsForm/index.js
  ui/page-components/authentication/components/GetStarted/index.js
  ui/page-components/authentication/components/ResetPassword/index.js
  ui/page-components/authentication/components/VerifyEmail/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

translation
  pages/accept-invite/[id]/index.js
  pages/draft-airway-bill/[id]/index.js
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/page-components/accept-user/index.js
  ui/page-components/authentication/components/VerifyEmail/index.js
  ui/page-components/draftAirwayBill/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

frt transpile done
  public/locales/en-IN/frt.json
  public/locales/vi-VN/frt.json
  ui/page-components/freight-rate-trend/active-freight-rate-trend/common/commodity-mappings.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/tooltipComponent.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
  ui/page-components/freight-rate-trend/common/DeleteModal/index.js
  ui/page-components/freight-rate-trend/components/Stepper/index.js
  ui/page-components/freight-rate-trend/components/search-card/index.js
  ui/page-components/freight-rate-trend/components/trend-card/index.js
  ui/page-components/freight-rate-trend/configuration/searchFrtConfig.js
  ui/page-components/freight-rate-trend/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes fix
  ui/page-components/shipments/utils/mutateFields.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

poc bug fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/ExistingCompany/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/index.js
  ui/page-components/shipments/components/ShipmentDetails/hooks/useCreateAddCompany.js
  ui/page-components/shipments/components/ShipmentDetails/hooks/useGetExistingCompanies.js
  ui/page-components/shipments/components/ShipmentDetails/hooks/useUpdateShipment.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  pages/accept-invite/[id]/index.js
  ui/page-components/accept-user/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  pages/accept-invite/[id]/index.js
  pages/draft-airway-bill/[id]/index.js
  ui/page-components/draftAirwayBill/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/globals.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

create ticket fix
  ui/page-components/create-ticket/components/RaiseIssueForm/index.js
  ui/page-components/create-ticket/hooks/useCreateTokenTicket.js
  ui/page-components/create-ticket/hooks/useGetAsyncOptions.js
  ui/page-components/create-ticket/utils/async-select-controller.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

my changes
  public/locales/vi-VN/authentication.json
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/styles.module.css
  ui/page-components/authentication/hooks/useMobileLoginForm.js
  ui/page-components/authentication/hooks/useSignupForm.js
  ui/page-components/authentication/utils/check-mobile-input.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added the diredctore fix
  ui/page-components/export-factoring/components/DirectorInformation/Details/index.js
  ui/page-components/export-factoring/components/DirectorInformation/EditDetails/index.js
  ui/page-components/export-factoring/components/DirectorInformation/FinancialReport/index.js
  ui/page-components/export-factoring/components/DirectorInformation/FinancialReport/styles.module.css
  ui/page-components/export-factoring/components/DirectorInformation/index.js
  ui/page-components/export-factoring/configurations/editDirectorControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

done
  packages/navigation-configs/config/hide-layout.js
  packages/navigation-configs/config/public-paths.js
  pages/unsubscribe-container-update/[id]/index.js
  public/locales/en-IN/unSubscribeTracking.json
  public/locales/vi-VN/unSubscribeTracking.json
  ui/page-components/unsubscribe_tracking/RenderContent/index.js
  ui/page-components/unsubscribe_tracking/RenderContent/styles.module.css
  ui/page-components/unsubscribe_tracking/hooks/useContainerUpdateSubscription.js
  ui/page-components/unsubscribe_tracking/index.js
  ui/page-components/unsubscribe_tracking/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  pages/accept-invite/[id]/index.js
  pages/draft-airway-bill/[id]/index.js
  ui/page-components/authentication/components/VerifyEmail/index.js
  ui/page-components/draftAirwayBill/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix create ticket
  packages/forms/utils/getAsyncFields.js
  pages/create-ticket/[token]/index.js
  public/locales/en-IN/createTicketPublic.json
  public/locales/vi-VN/createTicketPublic.json
  ui/commons/constants/globals.js
  ui/page-components/create-ticket/components/EmptyState/index.js
  ui/page-components/create-ticket/components/EmptyState/styles.module.css
  ui/page-components/create-ticket/components/Filters/index.js
  ui/page-components/create-ticket/components/InvoiceTable/index.js
  ui/page-components/create-ticket/components/List/index.js
  ui/page-components/create-ticket/components/PaymentsTable/index.js
  ui/page-components/create-ticket/components/RaiseIssueForm/index.js
  ui/page-components/create-ticket/configurations/invoice-table-columns.js
  ui/page-components/create-ticket/configurations/payment-table-column.js
  ui/page-components/create-ticket/hooks/useGetAsyncOptions.js
  ui/page-components/create-ticket/index.js
  ui/page-components/create-ticket/utils/async-select-controller.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/unsubscribe_tracking/hooks/useContainerUpdateSubscription.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/createTicketPublic.json
  public/locales/vi-VN/createTicketPublic.json
  ui/page-components/cogo-store/components/HomePage/TrendingOffers/index.js
  ui/page-components/create-ticket/components/MobileListItem/styles.module.css
  ui/page-components/create-ticket/components/RaiseIssueForm/styles.module.css
  ui/page-components/create-ticket/components/SucessPage/index.js
  ui/page-components/create-ticket/configurations/raise-ticket-controls.js
  ui/page-components/create-ticket/hooks/useGetAsyncOptions.js
  ui/page-components/create-ticket/hooks/useGetSageArInvoices.js
  ui/page-components/create-ticket/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
