Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

pr changes
  ui/page-components/unsubscribe_tracking/RenderContent/index.js
  ui/page-components/unsubscribe_tracking/hooks/useContainerUpdateSubscription.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/BotIntelligence/index.js
  ui/commons/components/WebBot/ChatBotBody/index.js
  ui/commons/components/WebBot/FooterChat/EmojisBody/index.js
  ui/commons/components/WebBot/FooterChat/index.js
  ui/commons/components/WebBot/helpers/templateTextFormatting.js
  ui/commons/components/WebBot/hooks/useGetMessages.js
  ui/commons/components/WebBot/hooks/useSendFirebaseMessage.js
  ui/commons/components/WebBot/index.js
  ui/commons/hooks/useGetEmojiList.js
  ui/commons/hooks/usePublicSendMessage.js
  ui/commons/hooks/useSendMessage.js
  ui/commons/utils/getDynamicIntelligence.js
  ui/commons/utils/getFileAttributes.js
  ui/commons/utils/getPayloadForSendMessage.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

eslint fix
  ui/page-components/unsubscribe_tracking/RenderContent/styles.module.css
  ui/page-components/unsubscribe_tracking/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint
  ui/commons/constants/globals.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixed the console and pr changes
  ui/page-components/export-factoring/components/ApplicationProcess/Agreement/AgreementPreview/index.js
  ui/page-components/export-factoring/components/BasicDetails/Coupons/index.js
  ui/page-components/export-factoring/components/CompanyInformation/EditDetails/index.js
  ui/page-components/export-factoring/components/DirectorInformation/AddDirectorDetails/index.js
  ui/page-components/export-factoring/components/DirectorInformation/index.js
  ui/page-components/export-factoring/components/Form/index.js
  ui/page-components/export-factoring/components/Invoices/components/InvoiceDetails/components/FundingRequest/components/ReviewDetails/index.js
  ui/page-components/export-factoring/components/Invoices/components/InvoiceDetails/components/FundingRequest/components/SignatoryMethod/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/RequestAmmedment/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/index.js
  ui/page-components/export-factoring/components/WaitingScreens/OfferLetterWating/index.js
  ui/page-components/export-factoring/configurations/getAddBankControls.js
  ui/page-components/export-factoring/configurations/getAddFundingRequestControls.js
  ui/page-components/export-factoring/configurations/getFundingRequestSignatoryControls.js
  ui/page-components/export-factoring/configurations/getTradeControls.js
  ui/page-components/export-factoring/configurations/useAddBolDocControls.js
  ui/page-components/export-factoring/hooks/useApplyCreditRequestCouponCode.js
  ui/page-components/export-factoring/hooks/useCreateCreditRequest.js
  ui/page-components/export-factoring/hooks/useCreditAmmedmentComment.js
  ui/page-components/export-factoring/hooks/useFetchFundingSummary.js
  ui/page-components/export-factoring/hooks/useFetchInvoiceDetails.js
  ui/page-components/export-factoring/hooks/useFetchInvoiceList.js
  ui/page-components/export-factoring/hooks/useGetAgreement.js
  ui/page-components/export-factoring/hooks/useGetCompanyFinanceData.js
  ui/page-components/export-factoring/hooks/useGetListCoupons.js
  ui/page-components/export-factoring/hooks/useGetOrganizationCreditRequest.js
  ui/page-components/export-factoring/hooks/useSaveBlDocsDetails.js
  ui/page-components/export-factoring/hooks/useSaveCiDocsDetails.js
  ui/page-components/export-factoring/hooks/useSubmitFundingRequestDetails.js
  ui/page-components/export-factoring/hooks/useUpdateCompanyData.js
  ui/page-components/export-factoring/hooks/useUpdateCredit.js
  ui/page-components/export-factoring/hooks/useUpdateCreditApplication.js
  ui/page-components/export-factoring/hooks/useUpdateCreditRequirement.js
  ui/page-components/export-factoring/hooks/useupdateCreditRequestPromotion.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change img tag
  ui/page-components/create-ticket/components/EmptyState/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added changes in invoice tabs
  ui/page-components/export-factoring/components/Form/index.js
  ui/page-components/export-factoring/hooks/useSubmitFundingRequestDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/trade-partner/components/Tradepartner/List/Item/renderFunctions.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

support types removed
  ui/commons/components/Header/Help/components/Support/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

change made git p
  ui/page-components/export-factoring/components/ApplicationProcess/OptUdcPdcDocuments/UndatedCheques/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/dashboard/components/Tracking/ActiveTracking/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/unsubscribe_tracking/hooks/useContainerUpdateSubscription.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/unsubscribe_tracking/hooks/useContainerUpdateSubscription.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/commons/components/Search/Air/hooks/useAir.js
  ui/commons/components/Search/FTL/SearchForm/TouchPoint/AddTouchPointModal/index.js
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/commons/constants/globals.js
  ui/commons/utils/shouldShowWhatsAppField.js
  ui/page-components/dashboard/components/index.js
  ui/page-components/dashboard/index.js
  ui/page-components/discover_rates/configurations/enquiry/fcl-controls.js
  ui/page-components/insurance/components/Details/BillingDetails/index.js
  ui/page-components/insurance/configurations/addAddressControls.js
  ui/page-components/insurance/configurations/controls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

remove country id from global
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/commons/constants/globals.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

recurring subscriptions communicatino
  public/locales/en-IN/subscriptions.json
  public/locales/vi-VN/subscriptions.json
  ui/page-components/cogo-subscriptions/common/CheckoutPageLoader/index.js
  ui/page-components/cogo-subscriptions/common/RecurringPaymentFailedRibbon/index.js
  ui/page-components/cogo-subscriptions/common/RecurringPaymentFailedRibbon/styles.module.css
  ui/page-components/cogo-subscriptions/components/checkout/BottomContainer/index.js
  ui/page-components/cogo-subscriptions/components/checkout/BottomContainer/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/PendingModal/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/styles.module.css
  ui/page-components/cogo-subscriptions/utils/getUserActivePlan.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/create-ticket/components/RaiseIssueForm/index.js
  ui/page-components/create-ticket/hooks/useGetAsyncOptions.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/styles.module.css
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/dashboard/components/SetPassword/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  pages/verify-email/[id]/index.js
  ui/page-components/authentication/components/VerifyEmail/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove destructring of geo constant
  ui/commons/utils/getCountriesHash.js
  ui/commons/utils/getCountryDetails.js
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
  ui/page-components/checkout/commons/AddressForm/utils/controls.js
  ui/page-components/discover_rates/common/SearchForm/utils/handleOptionsChange.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ContactDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
  ui/page-components/checkout/commons/AddressForm/configurations/address-controls.js
  ui/page-components/checkout/commons/AddressForm/utils/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/WebBot/ChatBotBody/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixed
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/commons/components/PasswordValidator/index.js
  ui/commons/components/PasswordValidator/styles.module.css
  ui/commons/utils/getValidPasswordMapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixed
  package.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed the error
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

prchanges
  ui/commons/components/WebBot/helpers/templateTextFormatting.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

eslint fix
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added change
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr chnages
  ui/commons/components/WebBot/ChatBotBody/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/trade-partner/components/Tradepartner/List/Item/renderFunctions.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/cogo-subscriptions/common/RecurringPaymentFailedRibbon/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/PendingModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

country supported mapping
  packages/navigation-configs/navigation-mapping.js
  packages/navigation-configs/side-bar.js
  ui/commons/constants/globals.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  packages/navigation-configs/navigation-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix create ticket public page
  packages/forms/Business/AsyncSelect/index.js
  packages/forms/utils/getAsyncFields.js
  public/locales/en-IN/createTicketPublic.json
  public/locales/vi-VN/createTicketPublic.json
  ui/page-components/create-ticket/components/EmptyState/index.js
  ui/page-components/create-ticket/components/EmptyState/styles.module.css
  ui/page-components/create-ticket/components/Filters/index.js
  ui/page-components/create-ticket/components/Filters/styles.module.css
  ui/page-components/create-ticket/components/List/ListHeader/index.js
  ui/page-components/create-ticket/components/List/ListHeader/styles.module.css
  ui/page-components/create-ticket/components/List/index.js
  ui/page-components/create-ticket/components/ListItem/index.js
  ui/page-components/create-ticket/components/ListItem/styles.module.css
  ui/page-components/create-ticket/components/MobileListItem/index.js
  ui/page-components/create-ticket/components/PaymentsTable/index.js
  ui/page-components/create-ticket/components/RaiseIssueForm/index.js
  ui/page-components/create-ticket/components/RaiseIssueForm/styles.module.css
  ui/page-components/create-ticket/configurations/raise-ticket-controls.js
  ui/page-components/create-ticket/hooks/useGetAsyncOptions.js
  ui/page-components/create-ticket/hooks/useGetSageArInvoices.js
  ui/page-components/create-ticket/hooks/useUpdateTokenTicket.js
  ui/page-components/create-ticket/index.js
  ui/page-components/create-ticket/styles.module.css
  ui/page-components/create-ticket/utils/format-payload.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transpile
  public/locales/en-IN/authentication.json
  public/locales/en-IN/common.json
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/authentication.json
  public/locales/vi-VN/common.json
  public/locales/vi-VN/dashboard.json
  ui/commons/components/PasswordValidator/styles.module.css
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/index.js
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/styles.module.css
  ui/page-components/authentication/components/ForgotPassword/index.js
  ui/page-components/authentication/hooks/useEmailVerification.js
  ui/page-components/authentication/hooks/useLoginMobileAuthentication.js
  ui/page-components/authentication/hooks/useResetUserPassword.js
  ui/page-components/authentication/hooks/useSignupOtpAuthentication.js
  ui/page-components/dashboard/components/SetPassword/index.js
  ui/page-components/dashboard/hooks/useSetPassword.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  packages/navigation-configs/navigation-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
