Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

select changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/checkout/commons/AddInvoicingParty/TradePartyInstructions/index.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/billingControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/docControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/documentControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/getOrgControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  package.json
  pnpm-lock.yaml
  scripts/build-scripts/countries/getCountries.js
  scripts/build-scripts/countries/index.js
  scripts/prod-deploy.sh
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added default values
  ui/page-components/order-history/common/DetailsModal/index.js
  ui/page-components/order-history/hooks/useGetTradeEngine.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

test
  scripts/build-scripts/countries/getCountries.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes in get countries
  scripts/build-scripts/countries/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

revert getCountries changes
  scripts/build-scripts/countries/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

null handling
  ui/page-components/order-history/common/DetailsModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added default values
  ui/page-components/trader-eligibility-check/components/ListPage/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fix
  ui/page-components/order-history/components/History/List/Item/renderFunctions.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix lint
  ui/page-components/import-export-documents/components/Checkout/Summary/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

consignee api
  packages/navigation-configs/apis/shipment-apis.js
  ui/page-components/shipments/apis/useShipmentList.js
  ui/page-components/shipments/hooks/useGetShipmentList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

comment alerts
  ui/page-components/profile/components/ProfileDetails/AccountDetails/utils/alerts-mapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

eslint fix
  ui/page-components/profile/components/ProfileDetails/AccountDetails/utils/alerts-mapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

script
  scripts/build-scripts/countries/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

revert
  scripts/build-scripts/countries/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

fixed url
  ui/commons/components/CogoBot/helpers/addInitialMessage.js
  ui/commons/components/CogoBot/helpers/roomHelpers.js
  ui/commons/constants/imageUrl.js
  ui/commons/hooks/useSendMessage.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix styles
  ui/commons/components/WebBot/ChatBotBody/EachMessage/MessageBody/fileViewMapping.js
  ui/commons/components/WebBot/ChatBotBody/EachMessage/UserReceivedView/styles.module.css
  ui/commons/components/WebBot/FooterChat/index.js
  ui/commons/components/WebBot/FooterChat/styles.module.css
  ui/commons/components/WebBot/hooks/useGetMessages.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

set up
  packages/navigation-configs/config/hide-layout.js
  packages/navigation-configs/config/public-paths.js
  packages/request/helpers/bf-request.js
  pages/user-shipment-alert/index.js
  ui/commons/components/PublicHeader/index.js
  ui/commons/components/PublicHeader/styles.module.css
  ui/commons/constants/imageUrl.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Header/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Header/styles.module.css
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/Body/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/Body/styles.module.css
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/Header/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/Header/styles.module.css
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/InviteTeam/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/InviteTeam/styles.module.css
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/Tools/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/styles.module.css
  ui/page-components/user_shipment_alert/components/ShipmentHead/index.js
  ui/page-components/user_shipment_alert/components/ShipmentHead/styles.module.css
  ui/page-components/user_shipment_alert/components/index.js
  ui/page-components/user_shipment_alert/components/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add
  packages/request/helpers/bf-request.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/getOrgControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fix
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/hooks/useCompanyDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

api change
  packages/navigation-configs/apis/shipment-apis.js
  ui/page-components/shipments/apis/useShipmentList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

permission added
  ui/page-components/shipments/components/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

permission added
  packages/hooks/useGetPermission.js
  ui/page-components/shipments/constants/condition-constants.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove authorizationscopeid from request bf(saas api)
  packages/request/helpers/bf-request.js
Owners: @Cogoport/platform-engineering, @prashantp01

shipper consignee
  ui/page-components/shipments/apis/useShipmentList.js
  ui/page-components/shipments/components/List/Item/MoreDetails/index.js
  ui/page-components/shipments/components/List/Item/index.js
  ui/page-components/shipments/components/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/List/Item/index.js
  ui/page-components/shipments/components/List/Item/status/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  scripts/build-scripts/countries/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

public page
  packages/navigation-configs/config/hide-layout.js
  packages/navigation-configs/config/public-paths.js
  pages/traking/[trackingType]/[trackingId]/index.js
  ui/commons/components/ExternalLink/index.js
  ui/commons/constants/globals.js
  ui/page-components/PageSpotSearchRates/Maps/index.js
  ui/page-components/PageSpotSearchRates/ModifiedForm/index.js
  ui/page-components/PageSpotSearchRates/ModifiedForm/styles.module.css
  ui/page-components/PageSpotSearchRates/PopupModal/ServicePopupModal/index.js
  ui/page-components/PageSpotSearchRates/PopupModal/ServicePopupModal/styles.module.css
  ui/page-components/PageSpotSearchRates/PopupModal/index.js
  ui/page-components/PageSpotSearchRates/PopupModal/styles.module.css
  ui/page-components/PageSpotSearchRates/SidePanel/RouteDetails/index.js
  ui/page-components/PageSpotSearchRates/hooks/useInviteUserOnSpotSearch.js
  ui/page-components/PageSpotSearchRates/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/index.js
  ui/page-components/traking-page/Header/index.js
  ui/page-components/traking-page/Header/styles.module.css
  ui/page-components/traking-page/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Header/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/DataTable/Table/Body/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/Tools/BookShipment/SearchRate/GeoSelect/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/Tools/ShipmentTracking/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/Tools/ShipmentTracking/styles.module.css
  ui/page-components/user_shipment_alert/components/InfoContainer/Tools/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

comment shipment
  ui/page-components/shipments/components/List/Header/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes server side location
  pages/user-shipment-alert/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/Tools/index.js
  ui/page-components/user_shipment_alert/components/InfoContainer/index.js
  ui/page-components/user_shipment_alert/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  pages/user-shipment-alert/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/utils/alerts-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

prams changes
  ui/page-components/discover_rates/configurations/search/fcl/form.controls.js
  ui/page-components/discover_rates/configurations/search/lcl/form.controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

its my last command
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo
