Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

trans fixes
  public/locales/en-SG/frt.json
  public/locales/id-ID/frt.json
  public/locales/th-TH/frt.json
  public/locales/zh-CN/frt.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

missing labels
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/IN.js
  ui/commons/constants/geo/VN.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

transpile csat
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/commons/components/CustomerSatisfaction/constants/feedback-options.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove hardcoding
  ui/commons/components/NetPromoterScore/Components/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added box shadow
  ui/page-components/order-history/components/History/List/Item/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

addde changes
  ui/page-components/export-factoring/components/ApplicationProcess/Agreement/FinancialAssessment/ESignTracking/index.js
  ui/page-components/export-factoring/components/BankDetails/components/BankVerification/index.js
  ui/page-components/export-factoring/components/BankDetails/components/BankVerification/styles.module.css
  ui/page-components/export-factoring/components/Buyers/components/AddBuyerModal/index.js
  ui/page-components/export-factoring/components/Buyers/components/AddPocModal/index.js
  ui/page-components/export-factoring/components/Buyers/components/FieldArray/child.js
  ui/page-components/export-factoring/components/Buyers/components/FieldArray/index.js
  ui/page-components/export-factoring/components/Buyers/components/FieldArray/styles.module.css
  ui/page-components/export-factoring/components/Buyers/index.js
  ui/page-components/export-factoring/components/Form/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/index.js
  ui/page-components/export-factoring/components/index.js
  ui/page-components/export-factoring/configurations/getAddBuyerControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes made of export factoring fixses
  ui/page-components/export-factoring/components/CompanyInformation/CompanyDetails/Details/index.js
  ui/page-components/export-factoring/components/CompanyInformation/EditDetails/index.js
  ui/page-components/export-factoring/components/DirectorInformation/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/index.js
  ui/page-components/export-factoring/configurations/editCompanyControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

api changes
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/_app/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/data.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useListOrganigations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useStatusReport.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/utils/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added the module
  ui/page-components/export-factoring/components/OfferLetterDetails/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslinitng
  ui/page-components/export-factoring/components/Form/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed the linting
  ui/page-components/export-factoring/components/OfferLetterDetails/AmmedmentHistory/index.js
  ui/page-components/insurance/hooks/useGetTermsConditions.js
  ui/page-components/pay-later/hooks/useUpdateOrganizationCreditRequirementDetails.js
  ui/page-components/pay-later/hooks/useupdateCreditRequestPromotion.js
  ui/page-components/product-catalogue-modal/hooks/useGetProductClassificationId.js
  ui/page-components/product-catalogue-modal/hooks/useProductCategory.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/commons/components/LanguageSelect/Languages/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

eslint fix
  packages/forms/Business/SwitchSelect/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

eslint fix
  ui/commons/components/Search/FTL/SearchForm/Route/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

error handling
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  pages/[org_id]/[branch_id]/shipment-report/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/utils/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

empty add
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/commons/components/Notifications/components/NotificationsContent/Tabs/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/hooks/useActiveDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useListOrganigations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr chnages
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/constants/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
  ui/page-components/shipments/components/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr chnages
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

loading add
  packages/navigation-configs/apis/app-settings.js
  ui/api/get/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useGetShipmentList.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/page-components/profile/components/ProfileDetails/AccountDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

code refactored
  ui/page-components/export-factoring/components/ApplicationProcess/OptUdcPdcDocuments/DocInformation/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

frt changes
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/air-schedules/components/ActiveSchedules/index.js
  ui/page-components/duties-tax-calculator/hook/useTradeEngine.js
  ui/page-components/trader-eligibility-check/hooks/usePostTradeEngine.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed the export factoring
  packages/navigation-configs/navigation-mapping.js
  pnpm-lock.yaml
  ui/page-components/export-factoring/components/BasicDetails/index.js
  ui/page-components/export-factoring/hooks/useGetOrganizationCreditRequest.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

export factorng change of navogation
  packages/navigation-configs/navigation-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/page-components/export-factoring/common/FieldArray/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/Agreement/AgreementPreview/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/OptUdcPdcDocuments/index.js
  ui/page-components/export-factoring/components/BasicDetails/Coupons/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change handled of null cases
  ui/page-components/export-factoring/components/BasicDetails/Coupons/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

missing trans
  public/locales/en-SG/common.json
  public/locales/id-ID/common.json
  public/locales/th-TH/common.json
  public/locales/zh-CN/common.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

download api
  ui/api/get/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useDownload.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change query
  packages/request/helpers/request.js
  ui/page-components/search-results/hooks/useGetSchedules.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
