Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

dtc
  ui/page-components/air-ocean-tracking/constant/statsMapping.js
  ui/page-components/duties-tax-calculator/components/Form/Transportation/index.js
  ui/page-components/duties-tax-calculator/components/Form/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

filter bug fix
  ui/page-components/shipments/components/List/FilterButton/Filters/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transpile
  public/locales/en-IN/authentication.json
  public/locales/en-IN/common.json
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/authentication.json
  public/locales/vi-VN/common.json
  public/locales/vi-VN/dashboard.json
  ui/commons/utils/getValidPasswordMapping.js
  ui/page-components/authentication/hooks/useGetStartedAuthentication.js
  ui/page-components/authentication/hooks/useLoginEmailAuthentication.js
  ui/page-components/authentication/hooks/useLoginOtpAuthentication.js
  ui/page-components/authentication/hooks/useResetPassword.js
  ui/page-components/authentication/hooks/useSaasEmailVerification.js
  ui/page-components/authentication/hooks/useSaasSignupAuthentication.js
  ui/page-components/dashboard/hooks/useSetPassword.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr
  packages/forms/Business/FileUploader/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/TicketComment/MessageBody/CustomFileDiv/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/TicketComment/MessageBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/FooterChat/index.js
  ui/commons/components/Header/Help/hooks/useListTickets.js
  ui/page-components/help-center/components/Faq/FaqStructure/index.js
  ui/page-components/help-center/hooks/useListFaqTopicQuestions.js
  ui/page-components/help-center/hooks/useListFaqTopics.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/globals.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/index.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/index.js
  ui/page-components/duties-tax-calculator/components/Form/Pay/Charges/index.js
  ui/page-components/duties-tax-calculator/components/Form/Product/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

added img in global
  ui/commons/constants/globals.js
  ui/page-components/duties-tax-calculator/components/Header/index.js
  ui/page-components/duties-tax-calculator/configuration/icon-configuration.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/page-components/dashboard/hooks/useGetTracking.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

bug fix
  pages/[org_id]/[branch_id]/saas/premium-services/import-export-controls/[trade_engine_id]/index.js
  pages/[org_id]/[branch_id]/saas/premium-services/import-export-doc/[trade_engine_id]/index.js
  pages/[org_id]/[branch_id]/saas/premium-services/trader-eligibility-check/result/index.js
  ui/page-components/air-ocean-tracking/constant/statsMapping.js
  ui/page-components/duties-tax-calculator/components/Form/index.js
  ui/page-components/import-export-documents/common/MapContainer/index.js
  ui/page-components/trader-eligibility-check/components/CheckoutPage/Summary/index.js
  ui/page-components/trader-eligibility-check/hooks/useGetProductCodes.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

chnages
  ui/page-components/documents/components/Filters/styles.module.css
  ui/page-components/documents/components/Heading/styles.module.css
  ui/page-components/documents/components/UploadDocument/index.js
  ui/page-components/documents/components/UploadDocument/styles.module.css
  ui/page-components/documents/components/index.js
  ui/page-components/documents/components/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/OtherAddressCard/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/DocumentsWallet/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/BranchDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/PersonalDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/Details/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/insurance/common/RenderField/index.js
  ui/page-components/insurance/configurations/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/helpers/getUserLocationData/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

docs changes
  ui/page-components/documents/components/UploadDocument/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/documents/InnerUploadControls.js
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
  ui/page-components/documents/components/Heading/index.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/components/ServiceUploadDocument/styles.module.css
  ui/page-components/documents/components/index.js
  ui/page-components/documents/constants/checkFileList.js
  ui/page-components/documents/hooks/useAddDocuments.js
  ui/page-components/documents/hooks/useGetDocumentsList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/commons/components/PasswordValidator/index.js
  ui/commons/utils/getValidPasswordMapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

globals updated
  ui/commons/constants/globals.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/common/TableList/PlantDetail.js
  ui/page-components/cogo-subscriptions/common/TableList/index.js
  ui/page-components/cogo-subscriptions/common/TableList/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/air-ocean-tracking/hooks/useGetSummary.js
  ui/page-components/shipments/components/List/FilterButton/Filters/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/commons/constants/geo/index.js
  ui/page-components/dashboard/components/Elgibility/index.js
  ui/page-components/dashboard/components/Elgibility/styles.module.css
  ui/page-components/dashboard/components/PayLaterWidgets/index.js
  ui/page-components/dashboard/components/PayLaterWidgets/styles.module.css
  ui/page-components/dashboard/components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/commons/constants/imageUrl.js
  ui/page-components/dashboard/components/PayLaterWidgets/index.js
  ui/page-components/dashboard/components/PayLaterWidgets/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/import-export-controls/components/Checkout/Info/index.js
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/ValidateHsModal/TitleContainer/index.js
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/index.js
  ui/page-components/import-export-controls/components/Result/index.js
  ui/page-components/import-export-controls/hooks/useDraft.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add img
  ui/commons/constants/imageUrl.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

chnages
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/PortDetails/PortName/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/common/TableList/PlantDetail.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/import-export-controls/hooks/useDraft.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/styles.module.css
  ui/page-components/documents/hooks/useAddDocuments.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add map in dashboard
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
  ui/page-components/new-dashboard/hooks/useGetMapRoute.js
  ui/page-components/new-dashboard/hooks/useTrackShipment.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add api
  packages/request/helpers/request.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/hooks/useGetMapRoute.js
  ui/page-components/new-dashboard/hooks/useTrackShipment.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

code refactor
  packages/forms/Controlled/CheckboxController.js
  packages/forms/Controlled/InputController.js
  packages/forms/Controlled/MobileNumberSelectController.js
  ui/commons/components/PasswordValidator/styles.module.css
  ui/commons/constants/imageUrl.js
  ui/commons/utils/getValidPasswordMapping.js
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/index.js
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/styles.module.css
  ui/page-components/authentication/components/ForgotPassword/index.js
  ui/page-components/authentication/components/ForgotPassword/styles.module.css
  ui/page-components/authentication/components/GetStarted/index.js
  ui/page-components/authentication/components/GetStarted/styles.module.css
  ui/page-components/authentication/components/Login/EmailLoginForm/index.js
  ui/page-components/authentication/components/Login/EmailLoginForm/styles.module.css
  ui/page-components/authentication/components/Login/MobileLoginForm/index.js
  ui/page-components/authentication/components/Login/index.js
  ui/page-components/authentication/components/Login/styles.module.css
  ui/page-components/authentication/components/ResetPassword/index.js
  ui/page-components/authentication/components/ResetPassword/styles.module.css
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/index.js
  ui/page-components/authentication/components/Signup/styles.module.css
  ui/page-components/authentication/components/common/LayoutLogo/index.js
  ui/page-components/authentication/components/common/TogglePasswordView/index.js
  ui/page-components/authentication/components/common/TogglePasswordView/styles.module.css
  ui/page-components/dashboard/components/SetPassword/index.js
  ui/page-components/dashboard/components/SetPassword/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix :payload for create_organization_document
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/dashboard/components/SetPassword/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

vn translation
  public/locales/vi-VN/settings.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

stylelint fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/imageUrl.js
  ui/page-components/cogo-subscriptions/components/balance-history/component/Usage/PendingModal/index.js
  ui/page-components/cogo-subscriptions/components/balance-history/component/Usage/index.js
  ui/page-components/cogo-subscriptions/components/checkout/subscriptionDetails/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/EnterpriseDescription/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/EnterpriseDescription/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/MobileView/CardHeader/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/MobileView/Feature/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/RenderCard/index.js
  ui/page-components/cogo-subscriptions/hooks/useGetUserActivePlan.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/imageUrl.js
  ui/page-components/cogo-subscriptions/components/balance-history/component/Usage/index.js
  ui/page-components/cogo-subscriptions/components/checkout/subscriptionDetails/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/EnterpriseDescription/index.js
  ui/page-components/cogo-subscriptions/hooks/useGetUserActivePlan.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo
