Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

test_checks
  ui/page-components/accept-user/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: lint
  .github/workflows/lint.yml
  ui/page-components/accept-user/index.js
Owners: @prashantp01, @vikas-cogo, @Cogoport/platform-engineering

set password for verify email in dashboard
  ui/page-components/new-dashboard/components/Container/LeftSection/SetPassword/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SetPassword/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/index.js
  ui/page-components/new-dashboard/hooks/useSetPassword.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

set password in dashboard
  ui/page-components/new-dashboard/components/Container/LeftSection/SetPassword/index.js
  ui/page-components/new-dashboard/hooks/useSetPassword.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added button type
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes nps
  public/locales/en-IN/common.json
  ui/commons/components/NetPromoterScore/Components/Body/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/Body/index.js
  ui/commons/components/NetPromoterScore/Components/Body/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Feedback/index.js
  ui/commons/components/NetPromoterScore/Components/Feedback/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/Rating/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Title/index.js
  ui/commons/components/NetPromoterScore/Components/index.js
  ui/commons/components/NetPromoterScore/hooks/useGetNPS.js
  ui/commons/components/NetPromoterScore/hooks/useNps.js
  ui/commons/components/NetPromoterScore/hooks/useSubmitNPS.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add filter
  package.json
  packages/request/hooks/useQuery.js
  packages/request/index.js
  pnpm-lock.yaml
  ui/api/saas/get/index.js
  ui/commons/configurations/timeZone.js
  ui/page-components/_app/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/data.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useListOrganigations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/commons/components/NetPromoterScore/Components/MenuTitle/index.js
  ui/commons/components/NetPromoterScore/Components/MenuTitle/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/Title/index.js
  ui/commons/components/NetPromoterScore/constants/feedback-mapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

icon add
  packages/navigation-configs/navigation-mapping.js
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

filter
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

navigation fix
  packages/navigation-configs/navigation-mapping.js
  packages/navigation-configs/side-bar.js
Owners: @Cogoport/platform-engineering, @prashantp01

shipment repot add
  pages/[org_id]/[branch_id]/shipment-report/index.js
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/utils/alerts-mapping.js
  ui/page-components/shipments/components/List/index.js
  ui/page-components/shipments/components/List/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

csat changes
  ui/commons/components/CustomerSatisfaction/components/Body/Rating/index.js
  ui/commons/components/CustomerSatisfaction/components/Body/Rating/styles.module.css
  ui/commons/components/CustomerSatisfaction/components/Body/index.js
  ui/commons/components/CustomerSatisfaction/components/Rating/index.js
  ui/commons/components/CustomerSatisfaction/components/Rating/styles.module.css
  ui/commons/components/CustomerSatisfaction/components/RatingText/index.js
  ui/commons/components/CustomerSatisfaction/components/RatingText/styles.module.css
  ui/commons/components/CustomerSatisfaction/components/index.js
  ui/commons/components/CustomerSatisfaction/constants/service-name-title-mapping.js
  ui/commons/components/CustomerSatisfaction/hooks/useGetCsatScore.js
  ui/commons/components/CustomerSatisfaction/hooks/useSubmitCsat.js
  ui/page-components/cogo-subscriptions/hooks/useCompleteOrder.js
  ui/page-components/import-export-controls/components/Result/index.js
  ui/page-components/import-export-controls/components/Result/styles.module.css
  ui/page-components/import-export-documents/components/Checkout/Summary/index.js
  ui/page-components/import-export-documents/components/Checkout/Summary/styles.module.css
  ui/page-components/import-export-documents/components/Result/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

added csat
  ui/commons/components/CustomerSatisfaction/components/styles.module.css
  ui/commons/components/CustomerSatisfaction/constants/service-name-title-mapping.js
  ui/page-components/duties-tax-calculator/components/SuccessModal/index.js
  ui/page-components/duties-tax-calculator/hook/useTradeEngine.js
  ui/page-components/hs-code-classification/components/index.js
  ui/page-components/hs-code-classification/components/styles.module.css
  ui/page-components/trader-eligibility-check/components/Content/styles.module.css
  ui/page-components/trader-eligibility-check/components/ListPage/index.js
  ui/page-components/trader-eligibility-check/components/ListPage/styles.module.css
  ui/page-components/trader-eligibility-check/hooks/usePostTradeEngine.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix line item
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/MilestoneStepper/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed the ui changes issue and left for documentation
  packages/forms/Controlled/CreatableMultiSelectController.js
  packages/forms/Controlled/index.js
  packages/forms/index.js
  packages/forms/utils/getAsyncFields.js
  ui/page-components/export-factoring/common/FormCard/index.js
  ui/page-components/export-factoring/components/BasicDetails/CompanyInfoForm/styles.module.css
  ui/page-components/export-factoring/components/BasicDetails/Coupons/index.js
  ui/page-components/export-factoring/components/BasicDetails/Coupons/styles.module.css
  ui/page-components/export-factoring/components/BasicDetails/PointOfContacts/index.js
  ui/page-components/export-factoring/components/BasicDetails/TradeDetails/index.js
  ui/page-components/export-factoring/components/BasicDetails/index.js
  ui/page-components/export-factoring/components/BasicDetails/styles.module.css
  ui/page-components/export-factoring/components/CompanyInformation/EditDetails/index.js
  ui/page-components/export-factoring/components/CompanyInformation/EditDetails/styles.module.css
  ui/page-components/export-factoring/components/CompanyInformation/index.js
  ui/page-components/export-factoring/components/CompanyInformation/styles.module.css
  ui/page-components/export-factoring/components/DirectorInformation/AddDirectorDetails/index.js
  ui/page-components/export-factoring/components/DirectorInformation/Details/index.js
  ui/page-components/export-factoring/components/DirectorInformation/FinancialReport/styles.module.css
  ui/page-components/export-factoring/components/DirectorInformation/index.js
  ui/page-components/export-factoring/components/Form/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/styles.module.css
  ui/page-components/export-factoring/components/Stepper/index.js
  ui/page-components/export-factoring/configurations/editCompanyControls.js
  ui/page-components/export-factoring/configurations/editDirectorControls.js
  ui/page-components/export-factoring/configurations/getAddBankControls.js
  ui/page-components/export-factoring/configurations/getTradeControls.js
  ui/page-components/export-factoring/constants/steppers.js
  ui/page-components/export-factoring/hooks/useGetOrganizationCreditRequest.js
  ui/page-components/export-factoring/hooks/useupdateCreditRequestPromotion.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

currency options fixes
  ui/page-components/checkout/commons/InvoicingParties/SelectedAddressList/SelectServicesInvoiceToAndCurrencyForm/index.js
  ui/page-components/discover_rates/configurations/search/air/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/air-customs/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/fcl-customs/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/ftl/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/haulage-freight/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/lcl-customs/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/ltl/feedback.js
  ui/page-components/discover_rates/configurations/search/domestic/trailer/feedback.js
  ui/page-components/discover_rates/configurations/search/fcl/feedback.js
  ui/page-components/discover_rates/configurations/search/lcl/feedback.js
  ui/page-components/duties-tax-calculator/configuration/controls.js
  ui/page-components/quotation/CreateQuotation/configuration/headerControls.js
  ui/page-components/search-results/components/NoResultFound/FeedbackModal/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove checkbox
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added changes
  ui/commons/constants/imageUrl.js
  ui/page-components/export-factoring/common/FieldArray/child.js
  ui/page-components/export-factoring/common/FieldArray/index.js
  ui/page-components/export-factoring/components/Buyers/components/AddBuyerModal/index.js
  ui/page-components/export-factoring/components/Buyers/components/BuyersList/index.js
  ui/page-components/export-factoring/components/Buyers/components/BuyersList/styles.module.css
  ui/page-components/export-factoring/components/OfferLetterDetails/index.js
  ui/page-components/export-factoring/components/WaitingScreens/OfferLetterWating/index.js
  ui/page-components/export-factoring/configurations/getAddBuyerControls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pnpm
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetCurrentInfo.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

disabled the btns
  ui/page-components/export-factoring/components/BasicDetails/index.js
  ui/page-components/export-factoring/components/CompanyInformation/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix page in list page
  ui/page-components/air-ocean-tracking/components/List/OceanCard/ContainerInfo/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

chnages
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/authentication/hooks/useSignupForm.js
  ui/page-components/authentication/hooks/useVerifyGoogleRecaptcha.js
  ui/page-components/authentication/utils/getFormattedPayload.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/payment-dashboard/components/Filters/index.js
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/components/TableList/index.js
  ui/page-components/payment-dashboard/hooks/useGetInvoiceDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed the company docuemnt
  ui/commons/constants/globals.js
  ui/commons/constants/imageUrl.js
  ui/page-components/export-factoring/common/FieldArray/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/Agreement/SignatoryMethod/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/BoardResolutionDocuments/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/BoardResolutionDocuments/styles.module.css
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/SoleLetterOfAuthority/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/SoleLetterOfAuthority/styles.module.css
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/UploadAuthorityDocuments/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/index.js
  ui/page-components/export-factoring/components/DirectorInformation/Details/index.js
  ui/page-components/export-factoring/components/DirectorInformation/FinancialReport/styles.module.css
  ui/page-components/export-factoring/components/DirectorInformation/index.js
  ui/page-components/export-factoring/components/OfferLetterDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

recaptch changes
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/validateMobileNumber.js
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/authentication/utils/getFormattedPayload.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/index.js
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/index.js
  ui/page-components/payment-dashboard/components/Outstanding/index.js
  ui/page-components/payment-dashboard/components/TableList/SortableArrow/index.js
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/constants/due-in-data.js
  ui/page-components/payment-dashboard/hooks/useGetOrganizationOutstandings.js
  ui/page-components/payment-dashboard/hooks/useGetServiceWiseOutstanding.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ip address
  pages/signup.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/validateMobileNumber.js
  ui/page-components/authentication/components/Signup/index.js
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed the litter issue if udc pdc
  ui/page-components/export-factoring/components/ApplicationProcess/OptUdcPdcDocuments/UndatedCheques/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added zero from global
  ui/page-components/air-ocean-tracking/hooks/useGetCurrentInfo.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/quotation/CreateQuotation/utils/getRatesModal.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ip address send
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/hooks/useSignupForm.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  pages/signup.js
  ui/page-components/authentication/utils/getFormattedPayload.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
