Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

label changes
  ui/commons/constants/geo/CN.js
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/SG.js
  ui/commons/constants/geo/TH.js
  ui/commons/constants/geo/VN.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix: status
  .github/workflows/comment-test-build.yml
  .github/workflows/comment-test-lint.yml
Owners: @prashantp01, @vikas-cogo

fixes
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Actions/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes import of setCookie for server side
  package.json
  pages/accept-invite/[id]/index.js
  pages/verify-auto-login/[token]/index.js
  pages/verify-auto-sign-up-email/[token]/index.js
  pages/verify-email/[id]/index.js
  pnpm-lock.yaml
  ui/helpers/getRedirectionUrlForAutoLoginSignup.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  pages/accept-invite/[id]/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

deleated_files
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
Owners: @prashantp01, @vikas-cogo

Revert "deleated_files"
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
Owners: @prashantp01, @vikas-cogo

files:delete
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
Owners: @prashantp01, @vikas-cogo

fix
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added message type in bot
  ui/commons/components/WebBot/hooks/useGetMessages.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  public/locales/en-IN/frt.json
  public/locales/vi-VN/frt.json
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/constants/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
  ui/page-components/freight-rate-trend/components/search-card/index.js
  ui/page-components/freight-rate-trend/components/search-card/styles.module.css
  ui/page-components/freight-rate-trend/components/trend-card/index.js
  ui/page-components/freight-rate-trend/configuration/searchFrtConfig.js
  ui/page-components/freight-rate-trend/index.js
  ui/page-components/pay-later/configurations/companyDetailsControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/pageMappings.js
  ui/helpers/getRedirectionUrlForAutoLoginSignup.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

eslint fix
  ui/page-components/pay-later/configurations/companyDetailsControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

text changes
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

add
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
Owners: @prashantp01, @vikas-cogo

add
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

set up
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/constants/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/styles.module.css
  ui/page-components/profile/components/ProfileDetails/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  .github/workflows/comment-test-build.yml
  .github/workflows/comment-test-lint.yml
Owners: @prashantp01, @vikas-cogo

public url
  packages/navigation-configs/config/hide-layout.js
  packages/navigation-configs/config/public-paths.js
  pages/url/[token]/index.js
  ui/page-components/EmptyPage/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/EmptyPage/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix milestone stepper design
  ui/commons/constants/globals.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/Stepper/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/Stepper/styles.module.css
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/styles.module.css
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/styles.module.css
  ui/page-components/air-ocean-tracking/hooks/useGetListTracker.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
  ui/page-components/air-ocean-tracking/hooks/useGetMilestoneInfo.js
  ui/page-components/air-ocean-tracking/utils/dateCompare.js
  ui/page-components/air-ocean-tracking/utils/mergeMilestone.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

added css for select card: rfq
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/ViewRateCards/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

list view done
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/data.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/hooks/useActiveDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/utils/alerts-mapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/tooltipComponent.js
  ui/page-components/freight-rate-trend/hooks/useFetchTrends.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

nps
  ui/commons/components/NetPromoterScore/Components/index.js
  ui/page-components/_app/layout/components/AppLayout/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix milestone name tag
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/styles.module.css
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

deploy permision
  .github/workflows/reusable-run-prod-deploy.yml
Owners: @prashantp01, @vikas-cogo

payload change
  packages/forms/utils/getAsyncFields.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/data.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/commons/components/LanguageSelect/Languages/index.js
  ui/commons/constants/globals.js
  ui/commons/constants/languageMapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

resolved conflict
  package.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

missing trans
  public/locales/en-SG/dashboard.json
  public/locales/id-ID/dashboard.json
  public/locales/th-TH/dashboard.json
  public/locales/zh-CN/dashboard.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added api
  packages/navigation-configs/apis/saas.js
  ui/commons/hooks/useGetMapRoute.js
  ui/page-components/import-export-controls/common/MapContainer/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix kyc styles
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/MapComps.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/FormBody/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

version upgrade
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/hooks/useCreateBulkContractUtilisation.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr
  ui/page-components/contract-management/hooks/useCreateBulkContractUtilisation.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
