Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

rfq changes
  ui/page-components/manage-rfq/common/CreateContract/PortPair/child.js
  ui/page-components/manage-rfq/common/CreateContract/PortPair/styles.module.css
  ui/page-components/manage-rfq/common/CreateContract/index.js
  ui/page-components/manage-rfq/common/CreateContract/portpairs.js
  ui/page-components/manage-rfq/common/CreateContract/styles.module.css
  ui/page-components/manage-rfq/components/CreateRfq/ReasonType/Footer/index.js
  ui/page-components/manage-rfq/components/CreateRfq/ReasonType/Footer/styles.module.css
  ui/page-components/manage-rfq/components/CreateRfq/ReasonType/index.js
  ui/page-components/manage-rfq/components/CreateRfq/index.js
  ui/page-components/manage-rfq/components/CreateRfq/styles.module.css
  ui/page-components/manage-rfq/configurations/create-contract-details.js
  ui/page-components/manage-rfq/helpers/getCreateContractData.js
  ui/page-components/manage-rfq/helpers/getNameSuggestions.js
  ui/page-components/manage-rfq/hooks/useCreateContractRfq.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

dashboard_translation chanhes
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/commons/constants/imageUrl.js
  ui/page-components/new-dashboard/common/ContainerInfo/index.js
  ui/page-components/new-dashboard/common/getText.js
  ui/page-components/new-dashboard/components/Container/LeftSection/CustomDuty/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/BtnContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Footer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Head/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/ProfileCompleted/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/Promotion/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/Promotion/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/index.js
  ui/page-components/new-dashboard/components/Head/Greeting/index.js
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/hooks/useGetPromotion.js
  ui/page-components/new-dashboard/hooks/useGetSubscription.js
  ui/page-components/new-dashboard/utils/getTimeGreet.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/authentication/hooks/useSignupForm.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr chnages
  ui/commons/components/Menu/index.js
  ui/commons/constants/globals.js
  ui/commons/constants/imageUrl.js
  ui/page-components/documents/components/Filters/styles.module.css
  ui/page-components/documents/components/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/get-other-address-controls.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/OtherAddressCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/OtherAddressCard/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/Categories/CategoryForm/ReasonModal/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/MobileVerificationModal/MobileVerification/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/PersonalDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/useResetPassword.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/hooks/useEditProfileDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/EditOrganizationDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/EditOrganizationDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/hooks/useEditOrganizationDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ChangeLanguage/index.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ChangeLanguage/styles.module.css
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ContactDetails/index.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/Edit/styles.module.css
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/UserDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

changes
  ui/page-components/insurance/components/Details/ValueDetails/DocumentsRequired/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr
  ui/page-components/profile/commons/FormElement/FieldArray/child.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

shipment map fix
  pages/[org_id]/[branch_id]/saas/premium-services/import-export-doc/[trade_engine_id]/result/index.js
  ui/page-components/dashboard/components/KYCPage/ModalPage.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/index.js
  ui/page-components/import-export-documents/components/Result/Document/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TrackMapNavigate/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useGetAllOceanRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useListSaasSubscription.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

modal
  ui/page-components/insurance/common/PreviewModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/PocCard/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

webit
  ui/commons/components/WebBot/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

updating color
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/hooks/useEditOrganizationDetails.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/documents/components/Heading/index.js
  ui/page-components/documents/components/Heading/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

doc name changes
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixing track n trace
  packages/request/helpers/request.js
  ui/page-components/air-ocean-tracking/components/Dashboard/InfoContainer/styles.module.css
  ui/page-components/air-ocean-tracking/components/List/ModalList/Configure/Commodity/index.js
  ui/page-components/air-ocean-tracking/constant/card.js
  ui/page-components/air-ocean-tracking/hooks/useCreateShipment.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Breadcrumbs/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Breadcrumbs/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

chnges
  ui/commons/constants/imageUrl.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  public/locales/en-IN/createTicketPublic.json
  public/locales/vi-VN/createTicketPublic.json
  ui/page-components/create-ticket/configurations/raise-ticket-controls.js
  ui/page-components/create-ticket/hooks/useGetAsyncOptions.js
  ui/page-components/create-ticket/hooks/useGetSageArInvoices.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added image url
  ui/commons/constants/imageUrl.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

bot
  packages/navigation-configs/apis/chat-bot-apis.js
Owners: @Cogoport/platform-engineering, @prashantp01

revert changes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

revert
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixing
  packages/navigation-configs/apis/app-manage-contract-apis.js
  packages/navigation-configs/apis/saas.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr change
  ui/page-components/manage-rfq/components/CreateRfq/ManualCreation/SearchForm/FormLayout/DraftSearchLayout/ContainerInfo/Tags/index.js
  ui/page-components/manage-rfq/components/CreateRfq/ManualCreation/SearchForm/FormLayout/PortPairLayout/PortPairChildLayout/AdditionalServices/PillsInput/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/common/CheckoutPageLoader/index.js
  ui/page-components/cogo-subscriptions/components/checkout/BottomContainer/index.js
  ui/page-components/cogo-subscriptions/components/checkout/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/PendingModal/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/styles.module.css
  ui/page-components/cogo-subscriptions/utils/getUserActivePlan.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixing shipment
  packages/navigation-configs/apis/saas.js
  packages/request/helpers/request.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixing shipment
  packages/navigation-configs/apis/app-manage-contract-apis.js
  packages/navigation-configs/apis/saas.js
  pages/[org_id]/[branch_id]/saas/premium-services/import-export-doc/[trade_engine_id]/result/index.js
  ui/page-components/air-ocean-tracking/components/Dashboard/InfoContainer/styles.module.css
  ui/page-components/air-ocean-tracking/components/List/ModalList/Configure/Commodity/index.js
  ui/page-components/air-ocean-tracking/constant/card.js
  ui/page-components/air-ocean-tracking/hooks/useCreateShipment.js
  ui/page-components/dashboard/components/KYCPage/ModalPage.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Breadcrumbs/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TrackMapNavigate/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useGetAllOceanRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useListSaasSubscription.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added api
  ui/page-components/air-ocean-tracking/hooks/useCreateTracker.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

update err msg
  public/locales/en-IN/airOceanTracking.json
  public/locales/vi-VN/airOceanTracking.json
  ui/page-components/air-ocean-tracking/configuration/headerFormControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/air-ocean-tracking/hooks/useCreateTracker.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  package.json
  pnpm-lock.yaml
  ui/page-components/cogo-subscriptions/components/checkout/Charges/index.js
  ui/page-components/cogo-subscriptions/components/checkout/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

use is empty
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useGetAllOceanRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/create-ticket/hooks/useGetSageArInvoices.js
  ui/page-components/create-ticket/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/commons/hooks/useGetEmojiList.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  packages/forms/Controlled/InputNumberController.js
  pages/[org_id]/[branch_id]/saas/premium-services/duties-taxes-calculator/index.js
  ui/commons/components/CogoMaps/index.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/index.js
  ui/page-components/import-export-documents/common/MapContainer/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
