Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

chaanges
  ui/page-components/contract-management/common/InitiateBooking/index.js
  ui/page-components/contract-management/components/ShipmentPlan/Header/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Actions/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Commodities/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ManualShipmentCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Route/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentState/Utilisations/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Validity/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/index.js
  ui/page-components/contract-management/components/ShipmentPlan/TechopsHeader/index.js
  ui/page-components/contract-management/components/ShipmentPlan/index.js
  ui/page-components/contract-management/utils/getCommodityName.js
  ui/page-components/contract-management/utils/getInfo.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change graph
  public/locales/en-IN/frt.json
  public/locales/vi-VN/frt.json
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/DaliyGraph/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/DaliyGraph/styles.module.css
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/RenderSkeleton/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/styles.module.css
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/tooltipComponent.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/constants/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/hooks/useFetchTrendDetails.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

shipment plan
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/Frequency/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
  ui/page-components/contract-management/configurations/contract-form-controls.js
  ui/page-components/contract-management/configurations/shipment-header.js
  ui/page-components/contract-management/hooks/useCreateBulkContractUtilisation.js
  ui/page-components/contract-management/hooks/useGetContractShipmentData.js
  ui/page-components/contract-management/utils/getCommodityName.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ui
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ui
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

filter changes
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/filter-controls/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/styles.module.css
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove pan no
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/FormBody/controls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/ExistingCompany/controls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/shipAndConsControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/commons/components/KYC/components/PendingFromUser/IEKycSection/controls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

ui
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove
  ui/page-components/contract-management/utils/getInfo.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added line break
  ui/page-components/contract-management/utils/getInfo.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

shimpmen create add
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/CreateShipment/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/CreateShipment/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/components/Head/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/contract-management/components/ShipmentPlan/Header/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Commodities/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/index.js
  ui/page-components/contract-management/configurations/fcl-booking-controls.js
  ui/page-components/contract-management/configurations/lcl-booking-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pre fill
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/configurations/contract-form-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

removed conditions
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

f
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/Footer/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

content-fixes
  public/locales/en-SG/authentication.json
  public/locales/en-SG/common.json
  public/locales/en-SG/dashboard.json
  public/locales/en-SG/documents.json
  public/locales/en-SG/hsClassification.json
  public/locales/en-SG/paymentDashboard.js
  public/locales/id-ID/authentication.json
  public/locales/id-ID/common.json
  public/locales/id-ID/dashboard.json
  public/locales/id-ID/documents.json
  public/locales/id-ID/hsClassification.json
  public/locales/id-ID/paymentDashboard.js
  public/locales/th-TH/authentication.json
  public/locales/th-TH/common.json
  public/locales/th-TH/dashboard.json
  public/locales/th-TH/documents.json
  public/locales/th-TH/hsClassification.json
  public/locales/th-TH/paymentDashboard.js
  public/locales/zh-CN/authentication.json
  public/locales/zh-CN/common.json
  public/locales/zh-CN/dashboard.json
  public/locales/zh-CN/documents.json
  public/locales/zh-CN/hsClassification.json
  public/locales/zh-CN/paymentDashboard.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  package.json
  ui/commons/components/LanguageSelect/Languages/index.js
  ui/commons/constants/geo/CN.js
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/SG.js
  ui/commons/constants/geo/TH.js
  ui/commons/constants/globals.js
  ui/commons/constants/languageMapping.js
  ui/page-components/hs-code-classification/components/Header/Filters/BaseFilters/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove console
  ui/page-components/hs-code-classification/components/Header/Filters/BaseFilters/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add sarvice
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/styles.module.css
  ui/page-components/new-dashboard/constant.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/constant.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

version upgrade
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove frozen lockfile from prod_deploy script
  scripts/prod-deploy.sh
Owners: @Cogoport/platform-engineering, @prashantp01

fix styles
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/ViewRateCards/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

card
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes and remove uuids
  ui/commons/components/KYC/hooks/useSubmitKyc.js
  ui/commons/constants/geo/IN.js
  ui/commons/constants/geo/VN.js
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/CompanyDetails/index.js
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/hooks/useCompanyDetails.js
  ui/page-components/discover_rates/common/KYC/NewKyc/components/FormBody/controls.js
  ui/page-components/shipments/utils/controls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fixes
  ui/commons/constants/geo/CN.js
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/SG.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/commons/components/KYC/hooks/useSubmitKyc.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/ExistingCompany/controls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/shipAndConsControls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

missing texts
  public/locales/en-SG/dashboard.json
  public/locales/id-ID/dashboard.json
  public/locales/th-TH/dashboard.json
  public/locales/zh-CN/dashboard.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added getLabelFromLocale for Pan and Sez
  ui/commons/components/KYC/components/PendingFromUser/IEKycSection/controls.js
  ui/commons/constants/CountrySpecificDetail/index.js
  ui/commons/constants/geo/IN.js
  ui/commons/constants/geo/VN.js
  ui/commons/constants/getLanguageCode/index.js
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/hooks/useCompanyDetails.js
  ui/page-components/checkout/commons/AddInvoicingParty/InvoicingParties/InvoicingPartyItem/index.js
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
  ui/page-components/checkout/commons/AddressForm/configurations/address-controls.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/FormBody/controls.js
  ui/page-components/discover_rates/common/KYC/NewKyc/components/FormBody/controls.js
  ui/page-components/get-started/components/BillingAddressForm/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/get-billing-address-controls.js
  ui/page-components/quotation/CreateQuotation/configuration/createSellerControls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/ExistingCompany/controls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/shipAndConsControls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix controls import
  ui/commons/components/KYC/hooks/useSubmitKyc.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

IE id
  pnpm-lock.yaml
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Cancellation/index.js
  ui/page-components/shipments/hooks/useGetShipmentList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

isEndToEnd
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Cancellation/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

conditions
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Actions/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: mofifications
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
Owners: @prashantp01, @vikas-cogo

space
  ui/page-components/contract-management/components/ShipmentPlan/Header/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: undoing changes
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
Owners: @prashantp01, @vikas-cogo

fixes
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo
