Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

keys fixes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

style lint fixes
  ui/page-components/payment-dashboard/common/ResponsivePieChart/GraphListView/styles.module.css
  ui/page-components/payment-dashboard/components/Header/Contact/styles.module.css
  ui/page-components/payment-dashboard/components/Header/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/imageUrl.js
  ui/page-components/checkout/commons/AddressForm/configurations/config.json
  ui/page-components/discover_rates/configurations/search/domestic/air-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/air-locals/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/fcl-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/fcl-locals/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/lcl-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/lcl-locals/mapping.json
  ui/page-components/discover_rates/configurations/stage-wise-incoterms.json
  ui/page-components/payment-dashboard/components/TableList/FiltersModal/index.js
  ui/page-components/payment-dashboard/components/TableList/FiltersModal/style.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
  ui/page-components/payment-dashboard/components/TableList/StatusTabs/index.js
  ui/page-components/product-catalogue-modal/configuration/icon-config.json
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/page-components/payment-dashboard/common/ResponsivePieChart/GraphListView/index.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/PieChartLegends/index.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/components/TableList/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/commons/constants/imageUrl.js
  ui/page-components/checkout/commons/AddressForm/configurations/config.json
  ui/page-components/discover_rates/configurations/search/domestic/air-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/air-locals/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/fcl-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/fcl-locals/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/lcl-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/lcl-locals/mapping.json
  ui/page-components/payment-dashboard/common/ResponsivePieChart/GraphListView/index.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/PieChartLegends/index.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/components/TableList/index.js
  ui/page-components/product-catalogue-modal/configuration/icon-config.json
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

eslint fix
  ui/commons/constants/imageUrl.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added changes PR
  ui/page-components/checkout/commons/AddressForm/configurations/config.json
  ui/page-components/discover_rates/configurations/search/domestic/air-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/air-locals/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/fcl-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/fcl-locals/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/lcl-customs/mapping.json
  ui/page-components/discover_rates/configurations/search/domestic/lcl-locals/mapping.json
  ui/page-components/discover_rates/configurations/stage-wise-incoterms.json
  ui/page-components/export-factoring/common/StatusTag/index.js
  ui/page-components/export-factoring/common/utils/index.js
  ui/page-components/export-factoring/components/BasicDetails/CreditRequirements/index.js
  ui/page-components/export-factoring/components/Invoices/components/InvoiceDetails/components/FundingRequest/components/ReviewDetails/styles.module.css
  ui/page-components/product-catalogue-modal/configuration/icon-config.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/discover_rates/configurations/stage-wise-incoterms.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/insurance/common/PreviewModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixing contracts
  ui/page-components/contract-management/common/InitiateBooking/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentState/Utilisations/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentState/Utilisations/styles.module.css
  ui/page-components/contract-management/configurations/air-booking-controls.js
  ui/page-components/contract-management/configurations/fcl-booking-controls.js
  ui/page-components/contract-management/configurations/lcl-booking-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

map added
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/EmptyState/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/EmptyState/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/LoadingState/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/LoadingState/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/VerticleLine/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/VerticleLine/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/Pointer/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/Route/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/hooks/useGetSaasContainerSubscription.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/hooks/useOceanRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

f
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapAndDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapAndDetails/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/ServiceDetails/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Breadcrumbs/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapAndDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/LoadingState/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Header/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Header/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

done
  pnpm-lock.yaml
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Cancellation/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/index.js
  ui/page-components/shipments/components/ShipmentDetails/hooks/useServiceList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

label fixes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/Invoice/InvoiceItem/Item/Header/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

translation changes
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
  ui/commons/constants/globals.js
  ui/page-components/documents/components/Heading/index.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/controls.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added end line
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes in tracking map on shipment
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/LoadingState/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/LoadingState/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/MilestoneStepper/Card/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/MilestoneStepper/Card/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/MilestoneStepper/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/MilestoneStepper/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

feat: add dunning user email response page
  packages/navigation-configs/config/hide-layout.js
  packages/navigation-configs/config/public-paths.js
  pages/add-dunning-relevant-user-new/[token]/index.js
  ui/page-components/add-dunning-relevant-user-new/SuccessPage/index.js
  ui/page-components/add-dunning-relevant-user-new/SuccessPage/styles.module.css
  ui/page-components/add-dunning-relevant-user-new/controls.js
  ui/page-components/add-dunning-relevant-user-new/hooks/useCreateDunningUserInvitationNew.js
  ui/page-components/add-dunning-relevant-user-new/index.js
  ui/page-components/add-dunning-relevant-user-new/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
  ui/page-components/documents/components/Heading/ServiceWiseHeading/styles.module.css
  ui/page-components/documents/components/Heading/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: lint
  ui/page-components/add-dunning-relevant-user-new/SuccessPage/styles.module.css
  ui/page-components/add-dunning-relevant-user-new/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add map in shipment
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapAndDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/LoadingState/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/VerticleLine/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/VerticleLine/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingData/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/Pointer/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/constants.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/hooks/useGetSaasContainerSubscription.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/ServiceDetails/PortDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/ServiceDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapAndDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useGetAllOceanRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useListSaasSubscription.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Header/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

feat: translation implemented
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/page-components/add-dunning-relevant-user-new/SuccessPage/index.js
  ui/page-components/add-dunning-relevant-user-new/controls.js
  ui/page-components/add-dunning-relevant-user-new/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
  ui/commons/constants/globals.js
  ui/commons/constants/imageUrl.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ploat map point api changes
  ui/commons/constants/globals.js
  ui/page-components/air-ocean-tracking/utils/calAirRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/MilestoneStepper/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/hooks/useGetSaasContainerSubscription.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/index.js
  ui/page-components/air-ocean-tracking/utils/calAirRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/insurance/common/PreviewModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

form validations
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/page-components/add-dunning-relevant-user-new/controls.js
  ui/page-components/add-dunning-relevant-user-new/hooks/useCreateDunningUserInvitationNew.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

removed unwanted line
  ui/page-components/add-dunning-relevant-user-new/hooks/useCreateDunningUserInvitationNew.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/checkout/commons/AddInvoicingParty/hooks/useGetBusiness.js
  ui/page-components/checkout/commons/AddressForm/configurations/poc-controls.json
  ui/page-components/checkout/commons/AddressForm/hooks/useAddressForm.js
  ui/page-components/checkout/commons/AddressForm/index.js
  ui/page-components/checkout/commons/AddressForm/styles.module.css
  ui/page-components/checkout/commons/FieldArray/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pass platform
  ui/page-components/authentication/hooks/useVerifyGoogleRecaptcha.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

api changes
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/index.js
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/index.js
  ui/page-components/payment-dashboard/components/Outstanding/index.js
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/components/TableList/styles.module.css
  ui/page-components/payment-dashboard/constants/status-options.js
  ui/page-components/payment-dashboard/hooks/useGetInvoiceDetails.js
  ui/page-components/payment-dashboard/hooks/useGetOrganizationOutstandings.js
  ui/page-components/payment-dashboard/utils/getDocumentNumber.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo
