Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

datepicker
  ui/page-components/cogo-subscriptions/hooks/useCompleteOrder.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

build fix
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

tradepartner
  pages/[org_id]/[branch_id]/saas/trade-partner/[trade_id]/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

authKey fix
  ui/page-components/import-export-controls/hooks/useDraft.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes in authkey name
  ui/commons/components/Header/Help/hooks/useGetTicketsUnreadCount.js
  ui/page-components/import-export-controls/hooks/useDraft.js
  ui/page-components/import-export-controls/hooks/useGetProductCodes.js
  ui/page-components/product-catalogue-modal/hooks/useGetProductClassificationId.js
  ui/page-components/quotation/CreateQuotation/hooks/useSendQuotation.js
  ui/page-components/quotation/ViewQuote/hook/useSendQuotation.js
  ui/page-components/search-results/hooks/useGetInsuranceSupportedCountries.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fixes
  packages/request/hooks/useRequestPublic.js
  ui/page-components/air-ocean-tracking/common/EmptyCard/index.js
  ui/page-components/air-ocean-tracking/components/Dashboard/Header/index.js
  ui/page-components/air-ocean-tracking/hooks/useCreateTracker.js
  ui/page-components/create-ticket/components/List/ListHeader/index.js
  ui/page-components/create-ticket/components/List/ListHeader/styles.module.css
  ui/page-components/create-ticket/components/List/index.js
  ui/page-components/create-ticket/components/ListItem/index.js
  ui/page-components/create-ticket/components/ListItem/styles.module.css
  ui/page-components/create-ticket/utils/RenderFunctions/index.js
  ui/page-components/create-ticket/utils/RenderFunctions/styles.module.css
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/tooltipComponent.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix shipment
  ui/page-components/air-ocean-tracking/components/List/OceanCard/index.js
  ui/page-components/import-export-documents/hooks/useInfoValidateFn.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix pagination
  ui/page-components/air-ocean-tracking/hooks/useGetSummary.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  packages/forms/Controlled/DatepickerController.js
  ui/page-components/insurance/components/Details/CargoDetails/index.js
  ui/page-components/insurance/components/ListView/index.js
  ui/page-components/insurance/configurations/cargoControls.js
  ui/page-components/insurance/hooks/useGetSummaryDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/insurance/hooks/useGetSummaryDetails.js
  ui/page-components/insurance/hooks/useList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

subs changes
  ui/page-components/cogo-subscriptions/common/SuccessModal/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/ActivateLater/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/PrioritySequence/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

back functionality on get started
  public/locales/en-IN/authentication.json
  public/locales/vi-VN/authentication.json
  ui/page-components/authentication/components/GetStarted/DetailsForm/index.js
  ui/page-components/authentication/components/GetStarted/DetailsForm/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

go back func
  ui/page-components/authentication/components/GetStarted/DetailsForm/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/air-ocean-tracking/components/List/ModalList/Configure/DetentionDemurrage/styles.module.css
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/index.js
  ui/page-components/import-export-documents/components/Main/Details/InfoContainer/index.js
  ui/page-components/import-export-documents/hooks/useInfoValidateFn.js
  ui/page-components/trader-eligibility-check/components/Map/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove margin
  ui/page-components/manage-rfq/components/CreateRfq/ReasonType/Footer/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixing contract management
  ui/page-components/contract-management/components/ShipmentPlan/CardLoader/index.js
  ui/page-components/contract-management/components/ShipmentPlan/Header/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/index.js
  ui/page-components/contract-management/components/ShipmentPlan/TechopsHeader/index.js
  ui/page-components/contract-management/components/ShipmentPlan/index.js
  ui/page-components/contract-management/utils/getDisplayNames.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

inschanges
  ui/page-components/duties-tax-calculator/components/Form/Product/ProductBox/styles.module.css
  ui/page-components/insurance/common/PreviewModal/Footer/index.js
  ui/page-components/insurance/common/PreviewModal/getComponents.js
  ui/page-components/insurance/common/PreviewModal/index.js
  ui/page-components/insurance/components/ListView/Table/index.js
  ui/page-components/insurance/components/ListView/index.js
  ui/page-components/insurance/hooks/useGetSummaryDetails.js
  ui/page-components/insurance/hooks/useList.js
  ui/page-components/trader-eligibility-check/components/ListPage/Results/index.js
  ui/page-components/trader-eligibility-check/components/ListPage/index.js
  ui/page-components/trader-eligibility-check/hooks/useGetTradeEngine.js
  ui/page-components/trader-eligibility-check/hooks/usePostTradeEngine.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove constanst
  ui/commons/components/CogoMaps/index.js
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/index.js
  ui/page-components/trader-eligibility-check/components/Map/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

remove hardcoding
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/trend-chart/tooltipComponent.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

chnages
  ui/page-components/cogo-subscriptions/components/manage-subscription/SubscriptionsPlanList/PlanDescription/ActivateModal/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/SubscriptionsPlanList/PlanDescription/ActivateModal/styles.module.css
  ui/page-components/insurance/common/PreviewModal/Footer/index.js
  ui/page-components/insurance/components/ListView/index.js
  ui/page-components/insurance/hooks/useGetSummaryDetails.js
  ui/page-components/insurance/hooks/useList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

integrating live vessel loc
  packages/navigation-configs/config/saas.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/MapComps.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/order-history/common/DetailsModal/index.js
  ui/page-components/order-history/common/DetailsModal/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint
  ui/page-components/cogo-subscriptions/common/SuccessModal/styles.module.css
  ui/page-components/cogo-subscriptions/components/manage-subscription/SubscriptionsPlanList/PlanDescription/ActivateModal/styles.module.css
  ui/page-components/order-history/common/DetailsModal/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/insurance/common/PreviewModal/Footer/index.js
  ui/page-components/insurance/common/PreviewModal/index.js
  ui/page-components/insurance/components/Details/CargoDetails/index.js
  ui/page-components/insurance/components/InsuranceForm/index.js
  ui/page-components/insurance/components/ListView/Table/index.js
  ui/page-components/insurance/components/ListView/index.js
  ui/page-components/insurance/configurations/cargoControls.js
  ui/page-components/order-history/common/DetailsModal/index.js
  ui/page-components/trader-eligibility-check/components/ListPage/Results/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

code formatting
  ui/page-components/insurance/configurations/cargoControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

mobile done
  package.json
  pnpm-lock.yaml
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/air-ocean-tracking/hooks/useCreateTracker.js
  ui/page-components/new-dashboard/common/CountCount/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/PortDetails/PortName/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/PortDetails/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/ShipmentLoading/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/ShipmentLoading/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/ProfileCompleted/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/ProfileCompleted/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/index.js
  ui/page-components/new-dashboard/components/Container/styles.module.css
  ui/page-components/new-dashboard/hooks/headerFormControls.js
  ui/page-components/new-dashboard/hooks/useCreateTracker.js
  ui/page-components/new-dashboard/hooks/useGetOperatorList.js
  ui/page-components/new-dashboard/hooks/useGetTracking.js
  ui/page-components/new-dashboard/hooks/useProgres.js
  ui/page-components/new-dashboard/utils/searchTypeMapping.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Loading/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/ShipmentLoading/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/PayLater/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove circle
  package.json
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

integrating route api
  ui/commons/hooks/useGetMapRoute.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/commons/constants/imageUrl.js
  ui/page-components/new-dashboard/common/ContainerInfo/styles.module.css
  ui/page-components/new-dashboard/common/FreightMapping.js
  ui/page-components/new-dashboard/common/MapContainer/MapsComp.js
  ui/page-components/new-dashboard/common/MapContainer/index.js
  ui/page-components/new-dashboard/common/ServiceTypeIcon/index.js
  ui/page-components/new-dashboard/common/ServiceTypeIcon/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/CustomDuty/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/CustomDuty/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Footer/styles.module.css
  ui/page-components/new-dashboard/hooks/CreateSportSearch.js
  ui/page-components/new-dashboard/hooks/ListShipments.js
  ui/page-components/new-dashboard/hooks/useGetMapRoute.js
  ui/page-components/new-dashboard/hooks/useRecentSearches.js
  ui/page-components/new-dashboard/hooks/useTrackShipment.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  packages/request/helpers/request.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/page-components/new-dashboard/common/ContainerDetails.js
  ui/page-components/new-dashboard/common/ContainerInfo/index.js
  ui/page-components/new-dashboard/common/CountCameDown/index.js
  ui/page-components/new-dashboard/common/MapContainer/MapsComp.js
  ui/page-components/new-dashboard/common/MapContainer/Pointer/index.js
  ui/page-components/new-dashboard/common/MapContainer/Route/index.js
  ui/page-components/new-dashboard/common/ServiceTypeIcon/index.js
  ui/page-components/new-dashboard/common/getFreightMapping.js
  ui/page-components/new-dashboard/common/getText.js
  ui/page-components/new-dashboard/common/location.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Loading/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/imageUrl.js
  ui/page-components/new-dashboard/common/MapContainer/MapsComp.js
  ui/page-components/new-dashboard/common/MapContainer/Pointer/index.js
  ui/page-components/new-dashboard/common/getFreightMapping.js
  ui/page-components/new-dashboard/common/getText.js
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/components/Head/styles.module.css
  ui/page-components/new-dashboard/hooks/CreateSportSearch.js
  ui/page-components/new-dashboard/hooks/ListShipments.js
  ui/page-components/new-dashboard/hooks/useGetMapRoute.js
  ui/page-components/new-dashboard/hooks/useRecentSearches.js
  ui/page-components/new-dashboard/hooks/useTrackShipment.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

changes
  ui/commons/constants/imageUrl.js
  ui/page-components/new-dashboard/common/ContainerInfo/index.js
  ui/page-components/new-dashboard/common/getFreightMapping.js
  ui/page-components/new-dashboard/common/getText.js
  ui/page-components/new-dashboard/common/location.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/BtnContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/ContainerInfo/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/PortDetails/PortName/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/ShipmentLoading/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Footer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Head/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/PayLater/index.js
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/constant.js
  ui/page-components/new-dashboard/hooks/useCreateTracker.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr chnages
  ui/commons/constants/imageUrl.js
  ui/page-components/insurance/common/PreviewModal/index.js
  ui/page-components/insurance/components/InsuranceForm/index.js
  ui/page-components/insurance/components/ListView/index.js
  ui/page-components/insurance/configurations/cargoControls.js
  ui/page-components/insurance/configurations/segmentOptions.js
  ui/page-components/trader-eligibility-check/components/ListPage/index.js
  ui/page-components/trader-eligibility-check/components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

payload updated
  ui/page-components/authentication/hooks/useSignupAuthentication.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/commons/constants/globals.js
  ui/page-components/documents/components/AllFiles/index.js
  ui/page-components/documents/components/Heading/ServiceWiseHeading/index.js
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

bot-fix
  ui/commons/components/CogoBot/helpers/addInitialMessage.js
Owners: @Cogoport/platform-engineering, @vikas-cogo
