Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

changes in sample file
  ui/page-components/documents/constants/checkFileList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

get_nomination_shipment_sell_quotations
  ui/page-components/shipments/components/ShipmentDetails/hooks/useGetNominatedSellQuotation.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr fixes
  ui/commons/constants/imageUrl.js
  ui/page-components/authentication/components/Signup/OTPSignupForm/index.js
  ui/page-components/authentication/components/VerifyAutoSignUpSaas/VerificationForm/index.js
  ui/page-components/authentication/components/VerifyAutoSignUpSaas/VerificationForm/styles.module.css
  ui/page-components/authentication/hooks/useSaasSignupAuthentication.js
  ui/page-components/cogo-store/components/Cart/SuccessModal/index.js
  ui/page-components/dashboard/components/index.js
  ui/page-components/dashboard/components/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

eslint fix
  ui/commons/constants/imageUrl.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/Subscribe.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/MobileView/Feature/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr fixes
  pages/verify-email/[id]/index.js
  ui/page-components/authentication/components/VerifyEmail/index.js
  ui/page-components/authentication/components/VerifyEmail/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/hs-code-classification/components/AddProductModal/ModalDetails/index.js
  ui/page-components/hs-code-classification/components/AddProductModal/index.js
  ui/page-components/hs-code-classification/components/Header/index.js
  ui/page-components/hs-code-classification/components/SectionList/ChapterList/HeadingList/index.js
  ui/page-components/hs-code-classification/components/SectionList/ChapterList/index.js
  ui/page-components/hs-code-classification/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/dashboard/components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/NominatedQuotations/LiveInvoices/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

translation-fix
  pages/verify-email/[id]/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fixes
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/ActivateLater/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/CardInfo/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/PrioritySequence/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  packages/forms/Controlled/InputNumberController.js
  public/locales/en-IN/dutiesTaxesCalculator.json
  public/locales/vi-VN/dutiesTaxesCalculator.json
  ui/commons/components/CogoMaps/Route/index.js
  ui/commons/constants/imageUrl.js
  ui/page-components/duties-tax-calculator/common/gif.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/Info/index.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/List/index.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/index.js
  ui/page-components/duties-tax-calculator/components/Form/Charge/index.js
  ui/page-components/duties-tax-calculator/components/Form/Product/ProductBox/index.js
  ui/page-components/duties-tax-calculator/components/Form/Product/index.js
  ui/page-components/duties-tax-calculator/components/Form/Transportation/index.js
  ui/page-components/duties-tax-calculator/components/Header/Stepper/index.js
  ui/page-components/duties-tax-calculator/components/Header/index.js
  ui/page-components/duties-tax-calculator/components/Loader/index.js
  ui/page-components/duties-tax-calculator/components/Loader/styles.module.css
  ui/page-components/duties-tax-calculator/components/Map/index.js
  ui/page-components/duties-tax-calculator/components/PendingModal/index.js
  ui/page-components/duties-tax-calculator/components/SuccessModal/index.js
  ui/page-components/duties-tax-calculator/components/ValidateHsModal/index.js
  ui/page-components/duties-tax-calculator/components/index.js
  ui/page-components/duties-tax-calculator/configuration/icon-configuration.js
  ui/page-components/duties-tax-calculator/hook/useTradeEngine.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

docs translation
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/transactionHistory.json
  public/locales/vi-VN/transactionHistory.json
  ui/page-components/transactionHistory/component/AllFilters/index.js
  ui/page-components/transactionHistory/component/Download/index.js
  ui/page-components/transactionHistory/component/List/EmptyState/index.js
  ui/page-components/transactionHistory/component/Transaction/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: changes in org_wallet_check for specific service in create_organization_document
  ui/page-components/documents/InnerUploadControls.js
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/components/index.js
  ui/page-components/documents/hooks/useAddDocuments.js
  ui/page-components/documents/hooks/useGetDocumentsList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/cogo-subscriptions/components/checkout/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  public/locales/en-IN/transactionHistory.json
  public/locales/vi-VN/transactionHistory.json
  ui/page-components/transactionHistory/component/AllFilters/Filter/filterOptions.js
  ui/page-components/transactionHistory/component/AllFilters/Filter/index.js
  ui/page-components/transactionHistory/component/AllFilters/index.js
  ui/page-components/transactionHistory/component/Download/index.js
  ui/page-components/transactionHistory/component/Header/index.js
  ui/page-components/transactionHistory/component/List/index.js
  ui/page-components/transactionHistory/component/TransactionModal/Documents/index.js
  ui/page-components/transactionHistory/component/TransactionModal/Duties/index.js
  ui/page-components/transactionHistory/component/TransactionModal/configuration.js
  ui/page-components/transactionHistory/component/TransactionModal/index.js
  ui/page-components/transactionHistory/component/TransactionModal/landedCost/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/subscriptions.json
  ui/page-components/cogo-subscriptions/common/RecurringPaymentFailedRibbon/index.js
  ui/page-components/cogo-subscriptions/components/checkout/BottomContainer/index.js
  ui/page-components/cogo-subscriptions/components/checkout/BottomContainer/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

translation
  public/locales/vi-VN/subscriptions.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/cogo-subscriptions/components/checkout/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add tracking
  package.json
  pnpm-lock.yaml
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/page-components/new-dashboard/common/MapContainer/MapsComp.js
  ui/page-components/new-dashboard/common/MapContainer/Pointer/index.js
  ui/page-components/new-dashboard/common/MapContainer/Route/index.js
  ui/page-components/new-dashboard/common/MapContainer/index.js
  ui/page-components/new-dashboard/common/MapContainer/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
  ui/page-components/new-dashboard/constant.js
  ui/page-components/new-dashboard/hooks/useCreateTracker.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fix
  ui/commons/constants/imageUrl.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

api
  packages/navigation-configs/apis/app-settings.js
Owners: @Cogoport/platform-engineering, @prashantp01

translation
  public/locales/en-IN/documents.json
  public/locales/vi-VN/documents.json
  ui/page-components/documents/components/Filters/index.js
  ui/page-components/documents/components/Heading/index.js
  ui/page-components/documents/components/UploadDocument/index.js
  ui/page-components/documents/components/Uploader/index.js
  ui/page-components/documents/components/index.js
  ui/page-components/documents/config.js
  ui/page-components/documents/constants/documentTypeOptions.js
  ui/page-components/documents/hooks/useAddDocuments.js
  ui/page-components/documents/hooks/useGetDocumentsList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add track and trace
  package.json
  pages/[org_id]/[branch_id]/dashboard/index.js
  pnpm-lock.yaml
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/index.js
  ui/page-components/new-dashboard/hooks/useGetTracking.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  packages/forms/Business/FileUploader/index.js
  ui/page-components/insurance/components/Details/ValueDetails/DocumentsRequired/index.js
  ui/page-components/insurance/components/InsuranceForm/index.js
  ui/page-components/insurance/configurations/segmentOptions.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix details > rates card
  ui/page-components/manage-rfq/common/RateCard/Features/index.js
  ui/page-components/manage-rfq/common/RateCard/Features/styles.module.css
  ui/page-components/manage-rfq/common/RateCard/RatePerContainer/index.js
  ui/page-components/manage-rfq/common/RateCard/RatePerContainer/styles.module.css
  ui/page-components/manage-rfq/common/RateCard/ShippingCompany/index.js
  ui/page-components/manage-rfq/common/RateCard/ShippingCompany/styles.module.css
  ui/page-components/manage-rfq/common/RateCard/index.js
  ui/page-components/manage-rfq/common/RateCard/styles.module.css
  ui/page-components/manage-rfq/common/TitleCard/styles.module.css
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/CardLoader/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/CardLoader/styles.module.css
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/TitleLoader/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/TitleLoader/styles.module.css
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/ViewRateCards/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/ViewRateCards/styles.module.css
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/styles.module.css
  ui/page-components/manage-rfq/constant/index.js
  ui/page-components/manage-rfq/constants.js
  ui/page-components/manage-rfq/helpers/getDetailsPrice.js
  ui/page-components/manage-rfq/hooks/useSelectCard.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/commons/constants/imageUrl.js
  ui/page-components/documents/components/Heading/index.js
  ui/page-components/documents/components/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/AddEditPocDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/OtherAddressCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/PersonalDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/PasswordValidator/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/controls.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/EditOrganizationDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/LoadingState/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/hooks/useGetOrganizationUsers.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/UserDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/components/index.js
  ui/page-components/documents/hooks/useDeleteDocument.js
  ui/page-components/documents/hooks/useGetDocumentsList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pull frm main
  ui/commons/constants/imageUrl.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

removed password validator
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/PasswordValidator/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/manage-rfq/common/PortCards/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Footer/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Footer/styles.module.css
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/importExportControls.json
  public/locales/vi-VN/importExportControls.json
  ui/page-components/import-export-controls/components/Checkout/Info/index.js
  ui/page-components/import-export-controls/hooks/useDraft.js
  ui/page-components/import-export-controls/hooks/useTradeEngine.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr hcnages
  ui/commons/components/Menu/index.js
  ui/page-components/documents/components/UploadDocument/index.js
  ui/page-components/documents/components/index.js
  ui/page-components/profile/commons/FormElement/FieldArray/child.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/AddEditPocDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/AddEditPocDetails/useEditPocDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/get-billing-address-controls.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr change
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/AddEditPocDetails/useEditPocDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/useEditBillingAddress.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

chnages
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/get-billing-address-controls.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/get-other-address-controls.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/EditOtherAddress/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/OtherAddressCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/hooks/getOrganizationBillingAddress.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/Categories/CategoryForm/ReasonModal/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/Categories/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/MobileVerificationModal/MobileVerification/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/hooks/useEditProfileDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/hooks/useMyProfile.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/EditOrganizationDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/hooks/useEditOrganizationDetails.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/LoadingState/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/hooks/useGetOrganizationUsers.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ContactDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

chore: delete confirmation modal added
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/index.js
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/Menu/index.js
  ui/commons/constants/imageUrl.js
  ui/page-components/profile/commons/FormElement/FieldArray/child.js
  ui/page-components/profile/commons/FormElement/FieldArray/styles.module.css
  ui/page-components/profile/commons/FormElement/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/PocCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/PocCard/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/BillingAddressCard/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/OtherAddresses/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ProfileDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/EditOrganizationDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/index.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ChangeLanguage/styles.module.css
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/ContactDetails/styles.module.css
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/Edit/styles.module.css
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/UserDetails/index.js
  ui/page-components/profile/components/ProfileDetails/ProfileProgress/UserDetails/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

refactor: code formatting
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Address/BillingAddresses/EditBillingAddress/useEditBillingAddress.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  packages/navigation-configs/apis/app-settings.js
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/page-components/authentication/components/Login/LoginTabs/index.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
