Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

pr changes
  ui/page-components/new-dashboard/common/MapContainer/MapsComp.js
  ui/page-components/new-dashboard/common/location.js
  ui/page-components/new-dashboard/components/Container/LeftSection/CustomDuty/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/BtnContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/PortDetails/PortName/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/checkout/commons/AddInvoicingParty/hooks/useGetBusiness.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ewf
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/dashboard.json
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/ContainerInfo/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/ContainerInfo/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/Promotion/index.js
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/constant.js
  ui/page-components/new-dashboard/hooks/useGetMapRoute.js
  ui/page-components/new-dashboard/hooks/useListShipments.js
  ui/page-components/new-dashboard/utils/getTimeGreet.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/new-dashboard/hooks/headerFormControls.js
  ui/page-components/new-dashboard/hooks/useCreateTracker.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

api changes
  ui/page-components/air-ocean-tracking/hooks/useCreateTracker.js
  ui/page-components/new-dashboard/hooks/useCreateTracker.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/Promotion/index.js
  ui/page-components/new-dashboard/components/Container/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

contract mangement fix
  ui/page-components/contract-management/common/InitiateBooking/index.js
  ui/page-components/contract-management/common/InitiateBooking/styles.module.css
  ui/page-components/contract-management/common/RequestBooking/Form/index.js
  ui/page-components/contract-management/common/RequestBooking/Form/style.module.css
  ui/page-components/contract-management/common/RequestBooking/index.js
  ui/page-components/contract-management/common/RequestBooking/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItems.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/index.js
  ui/page-components/contract-management/configurations/fcl-booking-controls.js
  ui/page-components/contract-management/configurations/organizationControls.js
  ui/page-components/contract-management/utils/getUnit.js
  ui/page-components/discover_rates/common/FormElement/ChildFormat/child.js
  ui/page-components/discover_rates/common/FormElement/ChildFormat/styles.module.css
  ui/page-components/discover_rates/common/FormElement/Item/index.js
  ui/page-components/discover_rates/common/FormElement/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

call actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/reusable-test-build.yml
  .github/workflows/reusable-test-lint.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

pr changes
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/page-components/add-dunning-relevant-user-new/SuccessPage/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix initiate booking
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

old functionality working.
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Actions/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/configurations/contract-form-controls.js
  ui/page-components/contract-management/hooks/useCreateBulkContractUtilisation.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add schedules
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/new-dashboard/common/ContainerDetails.js
  ui/page-components/new-dashboard/common/getFreightMapping.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Schedule/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Schedule/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/ShipmentLoading/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/PortName/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Head/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/styles.module.css
  ui/page-components/new-dashboard/components/Container/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove addDate
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add sub navigation icon
  packages/navigation-configs/navigation-mapping.js
  ui/commons/components/Menu/Navigation/SubNavigation/index.js
  ui/commons/components/Menu/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/constants/globals.js
  ui/page-components/manage-rfq/common/CreateContract/PortPair/child.js
  ui/page-components/manage-rfq/common/CreateContract/index.js
  ui/page-components/manage-rfq/common/CreateContract/portpairs.js
  ui/page-components/manage-rfq/common/RateCard/ShippingCompany/index.js
  ui/page-components/manage-rfq/common/RateCard/index.js
  ui/page-components/manage-rfq/components/CreateRfq/ManualCreation/SearchForm/FormLayout/DraftSearchLayout/ContainerInfo/Tags/index.js
  ui/page-components/manage-rfq/components/CreateRfq/ManualCreation/SearchForm/FormLayout/DraftSearchLayout/index.js
  ui/page-components/manage-rfq/components/CreateRfq/ManualCreation/SearchForm/FormLayout/PortPairLayout/PortPairChildLayout/index.js
  ui/page-components/manage-rfq/components/CreateRfq/ReasonType/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/ViewRateCards/index.js
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/index.js
  ui/page-components/manage-rfq/helpers/getCreateContractData.js
  ui/page-components/manage-rfq/helpers/getNameSuggestions.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Tracking/Body/TrackingMap/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/page-components/add-dunning-relevant-user-new/SuccessPage/index.js
  ui/page-components/add-dunning-relevant-user-new/getControls.js
  ui/page-components/add-dunning-relevant-user-new/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  packages/navigation-configs/navigation-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01

billingaddress-fix
  ui/page-components/cogo-subscriptions/hooks/useFetchBillingddress.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  packages/navigation-configs/navigation-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01

pull main
  packages/navigation-configs/navigation-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01

change news api
  ui/page-components/air-ocean-tracking/components/Dashboard/InfoContainer/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetNews.js
  ui/page-components/air-ocean-tracking/hooks/useRedirectFn.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove hardcode
  ui/page-components/air-ocean-tracking/hooks/useGetNews.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  public/locales/en-IN/dashboard.json
  public/locales/vi-VN/dashboard.json
  ui/page-components/new-dashboard/components/Container/LeftSection/CustomDuty/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/CustomDuty/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Schedule/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/CheckKyc/styles.module.css
  ui/page-components/new-dashboard/components/Container/styles.module.css
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/components/Head/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

color changes
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/ShipmentInfo/Container/PortName/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackAndTrace/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

build fix
  ui/page-components/manage-rfq/common/TitleCard/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/TrackShipment/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes mergin space
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Loading/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Loading/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/Search/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/PayLater/styles.module.css
  ui/page-components/new-dashboard/components/Container/RightSection/Promotion/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/new-dashboard/hooks/useGetOperatorList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/commons/components/KYC/components/PendingFromUser/IEKycSection/controls.js
  ui/commons/components/KYC/components/PendingFromUser/IEKycSection/index.js
  ui/commons/components/KYC/components/PendingFromUser/IEKycSection/styles.module.css
  ui/commons/components/KYC/hooks/useSubmitKyc.js
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/hooks/useCompanyDetails.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

remove hardcode pan and address
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/CompanyDetails/index.js
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/hooks/useCompanyDetails.js
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/FormBody/controls.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/FormBody/index.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/FormBody/styles.module.css
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/index.js
  ui/page-components/discover_rates/common/KYC/NewKyc/components/FormBody/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/contract-management/components/ShipmentPlan/Header/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Commodities/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Commodities/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/Footer/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ManualShipmentCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentState/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
  ui/page-components/contract-management/configurations/fcl-booking-controls.js
  ui/page-components/discover_rates/common/FormElement/ChildFormat/styles.module.css
  ui/page-components/discover_rates/common/FormElement/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

contract
  ui/page-components/contract-management/utils/getFormattedBookingPayload.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/configurations/contract-form-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/contract-management/common/InitiateBooking/styles.module.css
  ui/page-components/contract-management/common/TooltipContent/index.js
  ui/page-components/contract-management/utils/getFormattedBookingPayload.js
  ui/page-components/discover_rates/common/FormElement/Item/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixed forms
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/styles.module.css
  ui/page-components/contract-management/configurations/fcl-booking-controls.js
  ui/page-components/discover_rates/common/FormElement/ChildFormat/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix modal in checkout
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/CreateContract/CreateContractModal/index.js
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/CreateContract/CreateContractModal/styles.module.css
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/CreateContract/index.js
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/PriceLockedModal/index.js
  ui/page-components/search-results/configurations/create-contract-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: mofifications
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

fix modal in checkout
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/CreateContract/CreateContractModal/index.js
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/CreateContract/CreateContractModal/styles.module.css
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/CreateContract/index.js
  ui/page-components/search-results/components/RateCard/Quotation/ContractCreation/PriceLockedModal/index.js
  ui/page-components/search-results/configurations/create-contract-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: mofifications
  .github/workflows/build.yml
  .github/workflows/comment-test-build.yml
  .github/workflows/comment-test-lint.yml
  .github/workflows/lint.yml
  .github/workflows/reusable-test-build.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo
