Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

fix
  ui/page-components/documents/components/ServiceUploadDocument/Title/styles.module.css
  ui/page-components/documents/hooks/useAddDocuments.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/new-dashboard/common/MapContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/Card/BtnContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/SearchRates/RecentSearches/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/Promotion/index.js
  ui/page-components/new-dashboard/components/Container/RightSection/styles.module.css
  ui/page-components/new-dashboard/components/Head/index.js
  ui/page-components/new-dashboard/constant.js
  ui/page-components/new-dashboard/hooks/CreateSportSearch.js
  ui/page-components/new-dashboard/hooks/useGetSubscription.js
  ui/page-components/new-dashboard/hooks/useGetTracking.js
  ui/page-components/new-dashboard/hooks/useListShipments.js
  ui/page-components/new-dashboard/hooks/useProgres.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/documents/components/Heading/styles.module.css
  ui/page-components/documents/components/ServiceUploadDocument/Title/UploadedDoc/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixing contract mangement
  packages/forms/constants/commodities.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Actions/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CardLoader/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/getValueProps.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/BreakUpCard/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/DetailedBreakUp/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Validity/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Validity/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItems.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/handleLineItemsBreakup.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PriceBreakup/styles.module.css
  ui/page-components/contract-management/constants/index.js
  ui/page-components/contract-management/utils/getCommodityName.js
  ui/page-components/contract-management/utils/getDisplayNames.js
  ui/page-components/contract-management/utils/getServiceIcon.js
  ui/page-components/quotation/ListView/component/RecentSearch/Card/PortDetails/PortName/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  packages/navigation-configs/apis/app-settings.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/authentication/hooks/useVerifyGoogleRecaptcha.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

bot changes
  ui/commons/components/CogoBot/helpers/getPayloadToUpdateRoom.js
  ui/commons/components/CogoBot/helpers/getRoomInfo.js
  ui/commons/components/CogoBot/helpers/roomHelpers.js
  ui/commons/components/WebBot/hooks/useSendFirebaseMessage.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/EditProfileDetails/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

final fix
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/hooks/useVerifyGoogleRecaptcha.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixez
  ui/commons/constants/geo/CN.js
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/SG.js
  ui/commons/constants/geo/TH.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Commodities/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Commodities/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/Footer/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/Footer/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/Frequency/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Freight/SingleEnquiry/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Freight/SingleEnquiry/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Freight/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Freight/styles.module.css
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ManualShipmentCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentInfo/index.js
  ui/page-components/contract-management/utils/getInfo.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/authentication/hooks/useVerifyGoogleRecaptcha.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added line break
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/Route/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentState/Utilisations/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentState/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/authentication/hooks/useLeadUserDetails.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/authentication/hooks/useSignupAuthentication.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/commons/constants/geo/IN.js
  ui/commons/constants/geo/VN.js
  ui/commons/constants/globals.js
  ui/page-components/duties-tax-calculator/configuration/controls.js
  ui/page-components/hs-code-classification/configurations/advFilter.js
  ui/page-components/hs-code-classification/configurations/cardfilter.js
  ui/page-components/quotation/CreateQuotation/configuration/headerControls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/page-components/duties-tax-calculator/configuration/controls.js
  ui/page-components/quotation/CreateQuotation/configuration/headerControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  packages/forms/Business/NewPriceSelect/index.js
  packages/forms/constants/currencies.js
  public/locales/en-IN/hsClassification.json
  public/locales/vi-VN/hsClassification.json
  ui/commons/constants/globals.js
  ui/page-components/checkout/commons/CargoValue/styles.module.css
  ui/page-components/hs-code-classification/components/Header/Filters/AdvFilters/index.js
  ui/page-components/hs-code-classification/components/Header/Filters/BaseFilters/index.js
  ui/page-components/hs-code-classification/components/Header/Filters/index.js
  ui/page-components/hs-code-classification/configurations/advFilter.js
  ui/page-components/hs-code-classification/configurations/cardfilter.js
  ui/page-components/quotation/CreateQuotation/component/Charges/index.js
  ui/page-components/quotation/CreateQuotation/component/index.js
  ui/page-components/quotation/CreateQuotation/configuration/headerControls.js
  ui/page-components/quotation/ListView/component/RecentSearch/Card/PortDetails/PortName/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove org country code
  ui/page-components/hs-code-classification/components/Header/Filters/AdvFilters/index.js
  ui/page-components/hs-code-classification/components/Header/Filters/BaseFilters/index.js
  ui/page-components/hs-code-classification/components/Header/Filters/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/validateMobileNumber.js
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupForm.js
  ui/page-components/authentication/utils/getFormattedPayload.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

invoicing fixes
  ui/page-components/checkout/commons/AddInvoicingParty/InvoicingParties/InvoicingPartyItem/index.js
  ui/page-components/checkout/commons/AddInvoicingParty/InvoicingParties/InvoicingPartyItem/styles.module.css
  ui/page-components/checkout/commons/CargoValue/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

barge service added
  ui/commons/components/Search/Haulage/index.js
  ui/page-components/discover_rates/common/SearchForm/Route/index.js
  ui/page-components/discover_rates/common/SearchForm/index.js
  ui/page-components/discover_rates/configurations/index.js
  ui/page-components/discover_rates/configurations/search/domestic/barge/form.controls.js
  ui/page-components/discover_rates/configurations/search/domestic/barge/quick-search.control.js
  ui/page-components/discover_rates/hooks/configurations/index.js
  ui/page-components/discover_rates/hooks/useCreateSearch.js
  ui/page-components/discover_rates/utils/format-create-search.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

removed console
  ui/page-components/discover_rates/common/SearchForm/Route/index.js
  ui/page-components/discover_rates/hooks/useCreateSearch.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transpile
  public/locales/en-IN/authentication.json
  public/locales/vi-VN/authentication.json
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/validateMobileNumber.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/discover_rates/utils/format-create-search.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix shipment
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/hooks/useGetAllOceanRoute.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove vn
  ui/commons/constants/globals.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

remove eslint
  packages/forms/Business/NewPriceSelect/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/page-components/checkout/commons/AddInvoicingParty/InvoicingParties/InvoicingPartyItem/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  packages/forms/constants/currencies.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/page-components/quotation/ListView/component/RecentSearch/Card/PortDetails/PortName/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/MapTracking/map.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/TimeLineNavigate/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/payment-dashboard/components/Filters/index.js
  ui/page-components/payment-dashboard/components/Filters/styles.module.css
  ui/page-components/payment-dashboard/components/TableList/index.js
  ui/page-components/payment-dashboard/components/TableList/styles.module.css
  ui/page-components/payment-dashboard/constants/status-options.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  packages/navigation-configs/navigation-mapping.js
  pages/[org_id]/[branch_id]/payment-dashboard/index.js
  ui/commons/constants/imageUrl.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/GraphListView/index.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/PieChartLegends/index.js
  ui/page-components/payment-dashboard/common/ResponsivePieChart/index.js
  ui/page-components/payment-dashboard/components/Header/Contact/index.js
  ui/page-components/payment-dashboard/components/Header/index.js
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/index.js
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/PieChart/index.js
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/index.js
  ui/page-components/payment-dashboard/components/Outstanding/index.js
  ui/page-components/payment-dashboard/components/TableList/FiltersModal/index.js
  ui/page-components/payment-dashboard/components/TableList/FiltersModal/style.js
  ui/page-components/payment-dashboard/components/TableList/IdTags/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/TaxInvoiceModal/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
  ui/page-components/payment-dashboard/components/TableList/StatusTabs/index.js
  ui/page-components/payment-dashboard/components/TableList/index.js
  ui/page-components/payment-dashboard/components/TableList/styles.module.css
  ui/page-components/payment-dashboard/constants/due-in-data.js
  ui/page-components/payment-dashboard/constants/service-mapping.js
  ui/page-components/payment-dashboard/constants/status-options.js
  ui/page-components/payment-dashboard/hooks/useGetInvoiceDetails.js
  ui/page-components/payment-dashboard/hooks/useGetOrganizationOutstandings.js
  ui/page-components/payment-dashboard/hooks/useGetServiceWiseOutstanding.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/components/TableList/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  packages/navigation-configs/config/saas.js
  ui/page-components/payment-dashboard/components/Header/Contact/index.js
  ui/page-components/payment-dashboard/components/Header/Contact/styles.module.css
  ui/page-components/payment-dashboard/components/Header/index.js
  ui/page-components/payment-dashboard/components/Header/styles.module.css
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/index.js
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/index.js
  ui/page-components/payment-dashboard/components/Outstanding/index.js
  ui/page-components/payment-dashboard/hooks/useGetOrganizationOutstandings.js
  ui/page-components/payment-dashboard/hooks/useGetServiceWiseOutstanding.js
  ui/page-components/payment-dashboard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/payment-dashboard/components/Header/Contact/styles.module.css
  ui/page-components/payment-dashboard/components/Header/styles.module.css
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/styles.module.css
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/styles.module.css
  ui/page-components/payment-dashboard/components/Outstanding/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

filter add
  ui/page-components/payment-dashboard/components/Filters/index.js
  ui/page-components/payment-dashboard/components/Header/index.js
  ui/page-components/payment-dashboard/hooks/useGetInvoiceDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/payment-dashboard/common/EmptyState/index.js
  ui/page-components/payment-dashboard/components/Filters/index.js
  ui/page-components/payment-dashboard/components/Header/index.js
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/styles.module.css
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/PieChart/index.js
  ui/page-components/payment-dashboard/components/TableList/IdTags/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/PaymentPopover/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/TaxInvoiceModal/index.js
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/styles.module.css
  ui/page-components/payment-dashboard/components/TableList/Loading/styles.module.css
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/payment-dashboard/components/TableList/index.js
  ui/page-components/payment-dashboard/constants/service-mapping.js
  ui/page-components/payment-dashboard/hooks/useGetInvoiceDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fixes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  ui/page-components/payment-dashboard/components/TableList/InvoiceCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
