Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/authentication/utils/getFormattedPayload.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/authentication/hooks/useVerifyGoogleRecaptcha.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added api
  ui/page-components/insurance/hooks/useSaveDraft.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ipaddress remove
  pages/signup.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/validateMobileNumber.js
  ui/page-components/authentication/components/Signup/index.js
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change in insurance checkout
  ui/page-components/insurance/hooks/useInsurance.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

addde changes
  ui/page-components/export-factoring/common/FieldArray/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/styles.module.css
  ui/page-components/export-factoring/components/BankDetails/components/AddBankModal/index.js
  ui/page-components/export-factoring/components/BankDetails/components/BankInfo/index.js
  ui/page-components/export-factoring/components/BankDetails/components/BankInfo/styles.module.css
  ui/page-components/export-factoring/components/BankDetails/components/BankVerification/index.js
  ui/page-components/export-factoring/components/BankDetails/components/BankVerification/styles.module.css
  ui/page-components/export-factoring/components/Buyers/components/BuyersList/index.js
  ui/page-components/export-factoring/components/Buyers/components/BuyersList/styles.module.css
  ui/page-components/export-factoring/components/Invoices/components/AddFundingRequest/index.js
  ui/page-components/export-factoring/components/Invoices/components/InvoiceDetails/index.js
  ui/page-components/export-factoring/configurations/getAddFundingRequestControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change global
  ui/page-components/insurance/hooks/useInsurance.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/insurance/hooks/useInsurance.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

onmouse changes api call stop
  ui/page-components/authentication/components/Signup/SignupForm/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/page-components/authentication/components/Signup/SignupForm/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/page-components/authentication/components/Signup/SignupForm/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix ocean schedule
  ui/page-components/ocean-schedules/common/Map/index.js
  ui/page-components/ocean-schedules/components/ActiveSchedules/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/authentication/components/Signup/SignupForm/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added the sole letter text
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/BoardResolutionDocuments/index.js
  ui/page-components/export-factoring/components/ApplicationProcess/CompanyDocuments/SoleLetterOfAuthority/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/CogoMaps2/Route/index.js
  ui/commons/constants/mapConstant.js
  ui/commons/hooks/useGetMapRoute.js
  ui/page-components/air-ocean-tracking/components/List/OceanCard/ContainerInfo/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/Route/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetMilestoneInfo.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/TimeLineHorizontal/components/Breadcrumbs/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fixes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

change
  ui/page-components/search-results/components/RateCard/Promocode/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetCurrentInfo.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  public/locales/vi-VN/dashboard.json
  ui/page-components/search-results/components/RateCard/LikeDislike/DislikeFeedback/useDislikeFeedback.js
  ui/page-components/search-results/components/RateCard/LikeDislike/updateLikeRate.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix styles
  ui/commons/components/Search/Air/components/Loads/LoadsDetails/styles.module.css
  ui/commons/components/Search/Air/components/Loads/index.js
  ui/commons/components/Search/Air/components/Loads/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/payment-dashboard/components/TableList/getColoums.js
  ui/page-components/search-results/components/RateCard/LikeDislike/DislikeFeedback/useDislikeFeedback.js
  ui/page-components/search-results/components/RateCard/LikeDislike/updateLikeRate.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added csat in quotation
  ui/commons/components/CustomerSatisfaction/constants/service-name-title-mapping.js
  ui/page-components/quotation/CreateQuotation/component/TransactionModal/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix
  ui/page-components/payment-dashboard/hooks/useGetInvoiceDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/payment-dashboard/components/Outstanding/PaidOnAccount/index.js
  ui/page-components/payment-dashboard/components/Outstanding/TotalOutstanding/index.js
  ui/page-components/payment-dashboard/hooks/useGetOrganizationOutstandings.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/commons/constants/imageUrl.js
  ui/page-components/insurance/common/CancellationModal/index.js
  ui/page-components/insurance/common/PreviewModal/styles.module.css
  ui/page-components/insurance/common/SuccessModal/index.js
  ui/page-components/insurance/common/SuccessModal/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix lint
  ui/page-components/manage-rfq/components/SelectQuotation/Details/Rates/ListRate/ViewRateCards/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Cancellation/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/index.js
  ui/page-components/shipments/hooks/useGetShipmentList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Cancellation/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/NoServiceFound/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/NoServiceFound/styles.module.css
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/index.js
  ui/page-components/shipments/components/ShipmentDetails/hooks/useServiceList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/NoServiceFound/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

Update reusable-run-prod-deploy.yml
  .github/workflows/reusable-run-prod-deploy.yml
Owners: @prashantp01, @vikas-cogo

orderhistory
  ui/page-components/order-history/common/DetailsModal/IEDocumentsModal/index.js
  ui/page-components/order-history/common/DetailsModal/IEDocumentsModal/styles.module.css
  ui/page-components/order-history/common/DetailsModal/index.js
  ui/page-components/order-history/common/DetailsModal/styles.module.css
  ui/page-components/order-history/common/IEControlsModal/index.js
  ui/page-components/order-history/components/History/List/Item/MobileView/index.js
  ui/page-components/order-history/components/History/List/Item/MobileView/styles.module.css
  ui/page-components/order-history/components/History/List/Item/TooltipText/index.js
  ui/page-components/order-history/components/History/List/Item/TooltipText/styles.module.css
  ui/page-components/order-history/components/History/List/Item/index.js
  ui/page-components/order-history/components/History/List/Item/renderFunctions.js
  ui/page-components/order-history/components/History/List/Item/styles.module.css
  ui/page-components/order-history/components/History/List/index.js
  ui/page-components/order-history/configurations/controls.js
  ui/page-components/order-history/hooks/useGetTradeEngine.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added csat in insurance list
  ui/commons/components/CustomerSatisfaction/constants/service-name-title-mapping.js
  ui/page-components/air-ocean-tracking/components/List/index.js
  ui/page-components/air-ocean-tracking/components/List/styles.module.css
  ui/page-components/insurance/common/renderFunctions.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

changes
  ui/commons/components/CustomerSatisfaction/constants/feedback-options.js
  ui/page-components/insurance/common/CancellationModal/index.js
  ui/page-components/insurance/common/SuccessModal/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/commons/components/NetPromoterScore/Components/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

remove hardcoding
  ui/commons/components/NetPromoterScore/hooks/useNps.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

transpile
  public/locales/en-IN/common.json
  ui/commons/components/CustomerSatisfaction/components/RatingText/index.js
  ui/commons/components/CustomerSatisfaction/components/Title/index.js
  ui/commons/components/CustomerSatisfaction/components/index.js
  ui/commons/components/CustomerSatisfaction/constants/feedback-title-mapping.js
  ui/commons/components/CustomerSatisfaction/constants/service-name-title-mapping.js
  ui/commons/components/CustomerSatisfaction/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added user id
  ui/commons/hooks/useGetMapRoute.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

api intregrate
  packages/navigation-configs/apis/app-settings.js
  packages/request/index.js
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/api/get/index.js
  ui/api/post/index.js
  ui/commons/components/Notifications/components/NotificationsContent/Tabs/index.js
  ui/commons/configurations/timeZone.js
  ui/page-components/profile/components/MobileMenu/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/ReprtTypeSelectOptions/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useListOrganigations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useStatusReport.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/utils/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/useAccountDetails.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/commons/constants/geo/TH.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo
