Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

tooltip changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix carousel
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/LeftContainer/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/Card/styles.module.css
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/index.js
  ui/page-components/new-dashboard/components/Container/LeftSection/Shipments/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix dashboard map
  ui/page-components/new-dashboard/hooks/useGetMapRoute.js
  ui/page-components/new-dashboard/hooks/useTrackShipment.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

revert request file changes
  packages/request/helpers/request.js
Owners: @Cogoport/platform-engineering, @prashantp01

loading add
  packages/navigation-configs/config/shipments.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

add querydevtools
  ui/page-components/_app/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

mergin changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  public/locales/vi-VN/common.json
  ui/commons/components/CustomerSatisfaction/components/Rating/index.js
  ui/commons/components/CustomerSatisfaction/components/RatingText/index.js
  ui/commons/components/CustomerSatisfaction/components/index.js
  ui/commons/components/CustomerSatisfaction/hooks/useSubmitCsat.js
  ui/commons/components/CustomerSatisfaction/index.js
  ui/page-components/duties-tax-calculator/components/SuccessModal/index.js
  ui/page-components/order-history/common/DetailsModal/index.js
  ui/page-components/order-history/components/History/List/Item/MobileView/index.js
  ui/page-components/order-history/components/History/List/Item/index.js
  ui/page-components/order-history/components/History/List/index.js
  ui/page-components/trader-eligibility-check/components/ListPage/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added default values
  ui/commons/components/CustomerSatisfaction/components/RatingText/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

api changes
  ui/commons/components/Notifications/components/NotificationsContent/NotificationsList/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useGetShipmentList.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

remove notictioation
  ui/commons/components/Notifications/components/NotificationsContent/NotificationsList/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

list to get
  packages/navigation-configs/apis/saas.js
  ui/page-components/checkout/hooks/useGetCheckoutPromocodes.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  packages/request/hooks/useQuery.js
  ui/api/post/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useListOrganigations.js
  ui/page-components/shipments/components/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/shipments/components/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

missing trans
  public/locales/en-SG/common.json
  public/locales/id-ID/common.json
  public/locales/th-TH/common.json
  public/locales/zh-CN/common.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pnpm lock file
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/search-results/components/FtlRateCard/index.js
  ui/page-components/search-results/components/RateCard/Promocode/PromocodeDetails/PromocodeThumbnail/index.js
  ui/page-components/search-results/components/RateCard/Promocode/PromocodeDetails/index.js
  ui/page-components/search-results/components/RateCard/Promocode/index.js
  ui/page-components/search-results/components/RateCard/index.js
  ui/page-components/search-results/components/TralerFreightRateCard/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/configurations.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/checkout/commons/RateSummary/Footer/PromoCodes/ApplyCoupon/PromocodesModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lint fix
  ui/page-components/search-results/components/RateCard/Promocode/PromocodeDetails/PromocodeThumbnail/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

error handling
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Head/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useDownload.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

translation
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/SelectUserlist/UserTable/Header/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

shipper consignee added
  ui/page-components/shipments/apis/useShipmentList.js
  ui/page-components/shipments/components/List/index.js
  ui/page-components/shipments/configurations/ShipmentList/Shipper/all-shipments.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-detail-air-customs.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-detail-fcl-customs.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-detail-haulage-freight.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-detail-lcl-customs.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-details-air-freight.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-details-fcl-freight.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-details-ftl-freight.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-details-lcl-freight.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-details-ltl-freight.json
  ui/page-components/shipments/configurations/ShipmentList/Shipper/list-details-trailer-freight.json
  ui/page-components/shipments/hooks/useGetShipmentList.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes disable color
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/Details/EditDetails/TimeZoneSelectFilter/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

css changes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Body/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

add back button
  public/locales/en-IN/settings.json
  public/locales/vi-VN/settings.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/styles.module.css
  ui/page-components/shipments/components/List/Header/index.js
  ui/page-components/shipments/components/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

auto cancel handel
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/hooks/useMyProfile.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

added pan from local
  public/locales/en-IN/documents.json
  public/locales/en-IN/settings.json
  public/locales/vi-VN/documents.json
  public/locales/vi-VN/settings.json
  ui/commons/components/KYC/hooks/useSubmitKyc.js
  ui/page-components/checkout/commons/AddInvoicingParty/CreateNewInvoicingParty/hooks/useCompanyDetails.js
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
  ui/page-components/dashboard/components/KYCPage/ModalPage.js
  ui/page-components/discover_rates/common/KYC/KycCampaignModal/index.js
  ui/page-components/documents/constants/documentTypeOptions.js
  ui/page-components/export-factoring/components/CompanyInformation/CompanyDetails/Details/index.js
  ui/page-components/export-factoring/components/DirectorInformation/Details/index.js
  ui/page-components/export-factoring/configurations/editCompanyControls.js
  ui/page-components/export-factoring/configurations/editDirectorControls.js
  ui/page-components/export-factoring/configurations/getCompanyBasicDetailsControls.js
  ui/page-components/pay-later/components/CompanyInformation/CompanyDetails/Details/index.js
  ui/page-components/pay-later/components/CompanyInformation/DirectorDetails/Details/index.js
  ui/page-components/pay-later/configurations/companyDetailsControls.js
  ui/page-components/pay-later/configurations/editCompanyControls.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/Details/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

remove key from locales
  public/locales/en-SG/documents.json
  public/locales/en-SG/settings.json
  public/locales/id-ID/documents.json
  public/locales/id-ID/settings.json
  public/locales/th-TH/documents.json
  public/locales/th-TH/settings.json
  public/locales/zh-CN/documents.json
  public/locales/zh-CN/settings.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/dashboard/components/KYCPage/ModalPage.js
  ui/page-components/export-factoring/configurations/getCompanyBasicDetailsControls.js
  ui/page-components/pay-later/configurations/companyDetailsControls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

changes in link import
  ui/commons/components/LanguageSelect/Languages/index.js
  ui/page-components/_app/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

set default time and zone
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useUpdate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

key chnages
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/RenderPopOver.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/hooks/useEditColsPopOver.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

divide AddInvoicingParty/utils/controls into small
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/addressControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/bankAccountControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/billingControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/docControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/documentControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/getOrgControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/configurations/pocControls.js
  ui/page-components/checkout/commons/AddInvoicingParty/utils/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/export-factoring/configurations/getCompanyBasicDetailsControls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

YAAS
  packages/navigation-configs/apis/app-settings.js
  packages/request/helpers/get-other-pipe.js
  packages/request/helpers/request.js
  pnpm-lock.yaml
  ui/commons/components/LanguageSelect/Languages/index.js
  ui/page-components/authentication/hooks/getUserSession.js
  ui/page-components/authentication/utils/getLogout.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

lock file changes
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

Update reusable-run-prod-deploy.yml
  .github/workflows/reusable-run-prod-deploy.yml
Owners: @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/CustomerSatisfaction/index.js
  ui/page-components/order-history/common/DetailsModal/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01
