Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

added fn to get country id
  ui/commons/components/Search/FTL/SearchForm/TouchPoint/AddTouchPointModal/index.js
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/page-components/insurance/configurations/addAddressControls.js
  ui/page-components/insurance/configurations/controls.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

translation
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/components/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/components/Details/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/components/Footer/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/components/Footer/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/components/Header/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/components/Header/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/hooks/useCancelSubscription.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/hooks/useFetchSubscriptionPlan.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Subscription/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/utils/options-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

transpile fixes
  ui/page-components/authentication/components/ForgotPassword/EmailForm/index.js
  ui/page-components/authentication/components/ForgotPassword/SuccessMessage/index.js
  ui/page-components/authentication/components/ForgotPassword/index.js
  ui/page-components/authentication/components/GetStarted/DetailsForm/index.js
  ui/page-components/authentication/components/GetStarted/index.js
  ui/page-components/authentication/components/Login/EmailLoginForm/index.js
  ui/page-components/authentication/components/Login/LoginTabs/index.js
  ui/page-components/authentication/components/Login/MobileLoginForm/index.js
  ui/page-components/authentication/components/Login/OTPLoginForm/index.js
  ui/page-components/authentication/components/Login/index.js
  ui/page-components/authentication/components/Signup/OTPSignupForm/index.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/index.js
  ui/page-components/authentication/components/common/HelpCard/index.js
  ui/page-components/authentication/components/common/LayoutHelp/index.js
  ui/page-components/authentication/components/common/LayoutLogo/index.js
  ui/page-components/authentication/components/common/LoadingPrompts/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

loading style fix
  ui/page-components/authentication/components/common/LoadingPrompts/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

fixes
  ui/page-components/authentication/components/ForgotPassword/EmailForm/index.js
  ui/page-components/authentication/components/ForgotPassword/index.js
  ui/page-components/authentication/hooks/useResetUserPassword.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

remove node env in env file
  sentry.client.config.js
  sentry.server.config.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

eslint fix
  pnpm-lock.yaml
  sentry.server.config.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pull main
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/WebBot/ChatBotBody/EachMessage/MessageBody/index.js
  ui/commons/components/WebBot/FooterChat/EmojisBody/index.js
  ui/commons/components/WebBot/helpers/templateTextFormatting.js
  ui/commons/constants/globals.js
  ui/page-components/_app/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr
  ui/commons/components/Header/Help/common/TicketStructure/EmptyStateTicketStructure/index.js
  ui/commons/components/Header/Help/common/TicketStructure/TicketStructureBody/index.js
  ui/commons/components/Header/Help/components/Modals/RaiseTicket/CreateTicket/index.js
  ui/commons/components/Header/Help/components/Modals/RaiseTicket/RaisedTickets/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ModalHeader/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/RateTicket/index.js
  ui/page-components/help-center/common/RaiseTicket/index.js
  ui/page-components/help-center/components/Faq/FaqStructure/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

navigation changes
  ui/commons/components/Menu/Navigation/index.js
  ui/commons/components/Menu/styles.module.css
  ui/page-components/dashboard/components/ExportFactoring/index.js
  ui/page-components/shipments/hooks/useGetFiniteList.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

zeroth_index added
  ui/commons/components/Header/Help/common/TicketStructure/TicketStructureBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/TicketComment/MessageBody/CustomFileDiv/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/TicketComment/MessageBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/RateTicket/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/index.js
  ui/commons/components/Header/Help/components/Support/SupportTypes/index.js
  ui/commons/components/Header/Help/hooks/useGetTicketActivity.js
  ui/commons/components/Header/Help/hooks/useListTickets.js
  ui/page-components/help-center/common/TopicIcon/index.js
  ui/page-components/help-center/components/Dashboard/FaqTopics/index.js
  ui/page-components/help-center/components/FaqTopics/FaqQuestions/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/commons/components/Search/FTL/SearchForm/TouchPoint/AddTouchPointModal/index.js
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/commons/components/Search/LTL/SearchForm/form.controls.js
  ui/commons/constants/globals.js
  ui/commons/utils/getCountryDetails.js
  ui/page-components/dashboard/components/index.js
  ui/page-components/dashboard/hooks/GetTracking.js
  ui/page-components/dashboard/hooks/useGetTracking.js
  ui/page-components/discover_rates/common/SearchForm/utils/handleOptionsChange.js
  ui/page-components/discover_rates/utils/format-create-search.js
  ui/page-components/insurance/components/Details/BillingDetails/index.js
  ui/page-components/insurance/configurations/addAddressControls.js
  ui/page-components/insurance/configurations/controls.js
  ui/page-components/search-results/utils/format-create-search.js
  ui/page-components/shipments/utils/format-create-search.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr changes
  ui/page-components/duties-tax-calculator/components/Form/Charge/FreightModal/Info/index.js
  ui/page-components/duties-tax-calculator/components/PendingModal/index.js
  ui/page-components/duties-tax-calculator/components/SuccessModal/index.js
  ui/page-components/duties-tax-calculator/hook/useVerifyHscode.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/documents/components/ServiceUploadDocument/InnerForm/index.js
  ui/page-components/documents/components/ServiceUploadDocument/index.js
  ui/page-components/documents/components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix changes
  package.json
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/hooks/useSignupForm.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

modal style fix
  ui/page-components/dashboard/components/SetPassword/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/import-export-controls/components/Checkout/Info/index.js
  ui/page-components/import-export-controls/components/Checkout/Summary/index.js
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/HyperLine/styles.module.css
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/ValidateHsModal/ValidateRow/index.js
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/ValidateHsModal/index.js
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/ValidateHsModal/styles.module.css
  ui/page-components/import-export-controls/components/Main/Details/InfoContainer/index.js
  ui/page-components/import-export-controls/components/Result/index.js
  ui/page-components/import-export-controls/components/Result/styles.module.css
  ui/page-components/import-export-controls/hooks/useCheckPaymentStatus.js
  ui/page-components/import-export-controls/hooks/useDraft.js
  ui/page-components/import-export-controls/hooks/useInfoValidate.js
  ui/page-components/import-export-controls/hooks/usePayment.js
  ui/page-components/import-export-controls/hooks/useVerifyHsCode.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

leaduserid fixes
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/Signup/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/cogo-subscriptions/common/TableList/PlantDetail.js
  ui/page-components/cogo-subscriptions/common/TableList/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/ActivateLater/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/CardInfo/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/PrioritySequence/index.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/Subscribe.js
  ui/page-components/cogo-subscriptions/components/manage-subscription/Plan/SubscriptionsPlan/Card/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/page-components/discover_rates/components/Results/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

set password modal
  pages/verify-email/[id]/index.js
  ui/page-components/dashboard/components/index.js
  ui/page-components/dashboard/hooks/useSetPassword.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

added file size for uploader
  packages/forms/Business/FileUploader/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix
  packages/forms/Business/FileUploader/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  ui/commons/components/Search/FTL/SearchForm/form.controls.js
  ui/page-components/discover_rates/components/Results/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

changes
  pages/[org_id]/[branch_id]/saas/freight-rate-trend/[trend_id]/index.js
  pages/[org_id]/[branch_id]/saas/freight-rate-trend/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fixes
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/PasswordValidator/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/PasswordValidator/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/MyProfile/ResetPassword/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

translation
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/commons/components/PasswordValidator/index.js
  ui/commons/utils/getValidPasswordMapping.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  packages/forms/Business/FileUploader/index.js
  ui/commons/constants/globals.js
  ui/page-components/dashboard/components/index.js
  ui/page-components/dashboard/hooks/useGetTracking.js
  ui/page-components/discover_rates/utils/format-create-search.js
  ui/page-components/insurance/configurations/controls.js
  ui/page-components/search-results/utils/format-create-search.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/DaliyGraph/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/DaliyGraph/styles.module.css
  ui/page-components/freight-rate-trend/active-freight-rate-trend/hooks/useFetchTrendDetails.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
  ui/page-components/freight-rate-trend/components/trend-card/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

filter fix
  ui/page-components/shipments/components/List/FilterButton/Filters/Header/styles.module.css
  ui/page-components/shipments/components/List/FilterButton/Filters/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  packages/forms/Business/FileUploader/index.js
  ui/page-components/insurance/common/RenderField/index.js
  ui/page-components/insurance/common/RenderField/styles.module.css
  ui/page-components/insurance/components/Details/BillingDetails/Component/index.js
  ui/page-components/insurance/components/Details/BillingDetails/index.js
  ui/page-components/insurance/components/Details/BillingDetails/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

api fixes
  packages/forms/Controlled/CheckboxController.js
  public/locales/en-IN/authentication.json
  public/locales/vi-VN/authentication.json
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/hooks/useLeadUserDetails.js
  ui/page-components/authentication/hooks/useSignupAuthentication.js
  ui/page-components/authentication/hooks/useSignupForm.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

Booking Received -> Booking Placed
  ui/page-components/dashboard/common/getText.js
  ui/page-components/shipments/utils/get-text.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

dashborad traking changes
  ui/commons/constants/globals.js
  ui/page-components/air-ocean-tracking/hooks/useGetSummary.js
  ui/page-components/dashboard/components/Tracking/ActiveTracking/index.js
  ui/page-components/dashboard/components/Tracking/index.js
  ui/page-components/dashboard/components/Tracking/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

pr
  packages/forms/Business/FileUploader/index.js
  packages/forms/Business/FileUploader/styles.module.css
  packages/forms/hooks/useGetAsyncCogoCareOptions.js
  ui/commons/components/Header/Help/common/TicketStructure/TicketStructureBody/index.js
  ui/commons/components/Header/Help/common/TicketStructure/TicketStructureLoader/index.js
  ui/commons/components/Header/Help/components/Modals/RaiseTicket/CreateTicket/FormLayout/index.js
  ui/commons/components/Header/Help/components/Modals/RaiseTicket/SuggestedFaq/FaqList/FaqListLoader/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/TicketComment/MessageBody/CustomFileDiv/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/TicketComment/MessageBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/ChatBody/index.js
  ui/commons/components/Header/Help/components/Modals/TicketChat/FooterChat/index.js
  ui/commons/components/Header/Help/hooks/useListTickets.js
  ui/page-components/help-center/components/Faq/FaqStructure/index.js
  ui/page-components/help-center/hooks/useListFaqTopicQuestions.js
  ui/page-components/help-center/hooks/useListFaqTopics.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pe fixes
  pages/verify-email/[id]/index.js
  ui/page-components/authentication/components/Signup/SignupForm/index.js
  ui/page-components/authentication/components/common/HelpCard/index.js
  ui/page-components/authentication/components/common/LayoutHelp/index.js
  ui/page-components/authentication/components/common/LayoutLogo/index.js
  ui/page-components/authentication/components/common/LoadingPrompts/index.js
  ui/page-components/authentication/utils/get-location-data.js
  ui/page-components/dashboard/components/SetPassword/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

my team
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/DocumentsWallet/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/OrganizationDetails/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/Details/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/LoadingState/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/LoadingState/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/hooks/useGetOrganizationUsers.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/Team/styles.module.css
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix
  ui/commons/utils/getValidPasswordMapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo
