Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo

resolved conflicts
  ui/commons/constants/geo/CN.js
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/SG.js
  ui/commons/constants/geo/TH.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

missing trans
  public/locales/en-SG/common.json
  public/locales/en-SG/dashboard.json
  public/locales/en-SG/dutiesTaxesCalculator.json
  public/locales/en-SG/frt.json
  public/locales/en-SG/subscriptions.json
  public/locales/id-ID/common.json
  public/locales/id-ID/dashboard.json
  public/locales/id-ID/dutiesTaxesCalculator.json
  public/locales/id-ID/frt.json
  public/locales/id-ID/subscriptions.json
  public/locales/th-TH/common.json
  public/locales/th-TH/dashboard.json
  public/locales/th-TH/dutiesTaxesCalculator.json
  public/locales/th-TH/frt.json
  public/locales/th-TH/subscriptions.json
  public/locales/zh-CN/common.json
  public/locales/zh-CN/dashboard.json
  public/locales/zh-CN/dutiesTaxesCalculator.json
  public/locales/zh-CN/frt.json
  public/locales/zh-CN/subscriptions.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

hs country code fixes
  ui/commons/constants/geo/CN.js
  ui/commons/constants/geo/ID.js
  ui/commons/constants/geo/SG.js
  ui/commons/constants/geo/TH.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

chnges
  ui/commons/components/NetPromoterScore/Components/Body/Rating/styles.module.css
  ui/commons/components/NetPromoterScore/hooks/useGetNPS.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/commons/components/NetPromoterScore/Components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/commons/components/NetPromoterScore/hooks/useGetNPS.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  ui/commons/components/CogoMaps2/MapComp.js
  ui/commons/components/CogoMaps2/Pointer/index.js
  ui/commons/components/CogoMaps2/index.js
  ui/commons/constants/mapConstant.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/MapComps.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/Stepper/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetMilestoneInfo.js
  ui/page-components/duties-tax-calculator/components/Map/index.js
  ui/page-components/import-export-controls/components/Checkout/Info/index.js
  ui/page-components/import-export-controls/components/Main/Details/index.js
  ui/page-components/import-export-documents/components/Checkout/Info/index.js
  ui/page-components/import-export-documents/components/Main/Details/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix: actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

revert request
  packages/request/helpers/request.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/CogoMaps2/Pointer/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/InfoContainer/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/Card/index.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/MilestoneStepper/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetMilestoneInfo.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

fix: actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

fixes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

fixes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

fixes
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

frt filter changes
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/components/filter/styles.module.css
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: build
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

Changes
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

changes
  ui/commons/components/Menu/index.js
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/index.js
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Body/styles.module.css
  ui/commons/components/NetPromoterScore/Components/MenuTitle/index.js
  ui/commons/components/NetPromoterScore/Components/MenuTitle/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Title/styles.module.css
  ui/commons/components/NetPromoterScore/Components/index.js
  ui/commons/components/NetPromoterScore/Components/styles.module.css
  ui/commons/components/NetPromoterScore/hooks/useGetNPS.js
  ui/page-components/_app/layout/components/AppLayout/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

translationdne
  public/locales/en-IN/common.json
  public/locales/vi-VN/common.json
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/index.js
  ui/commons/components/NetPromoterScore/Components/Body/index.js
  ui/commons/components/NetPromoterScore/Components/MenuTitle/index.js
  ui/commons/components/NetPromoterScore/Components/Title/index.js
  ui/commons/components/NetPromoterScore/Components/index.js
  ui/commons/components/NetPromoterScore/constants/feedback-mapping.js
  ui/commons/components/NetPromoterScore/constants/feedback-title-mapping.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

changes
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

pr chnages
  public/locales/en-IN/common.json
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/index.js
  ui/commons/components/NetPromoterScore/Components/Body/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/Body/index.js
  ui/commons/components/NetPromoterScore/Components/Body/styles.module.css
  ui/commons/components/NetPromoterScore/hooks/useGetNPS.js
  ui/commons/components/NetPromoterScore/hooks/useSubmitNPS.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changed time
  ui/commons/components/NetPromoterScore/Components/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

fix create spot search api payload
  ui/commons/constants/commoditiesMapping.js
  ui/page-components/quotation/CreateQuotation/common/Maping/index.js
  ui/page-components/quotation/CreateQuotation/component/Charges/BasicCharge/FreightCharges/Info/index.js
  ui/page-components/quotation/CreateQuotation/component/Charges/BasicCharge/FreightCharges/Info/styles.module.css
  ui/page-components/quotation/CreateQuotation/utils/freightChargePayload.js
  ui/page-components/quotation/CreateQuotation/utils/getRatesModal.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

change casing
  ui/page-components/quotation/CreateQuotation/utils/freightChargePayload.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo
