Repository Vikaspatidar123/cogo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

removed classname
  ui/page-components/contract-management/configurations/contract-form-controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr5
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/child.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/FieldArrayComponent/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

ssr
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/Title/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/Table/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/ReportList/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/Schedule/styles.module.css
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/List/index.js
  ui/page-components/profile/components/ProfileDetails/AccountDetails/DetailsTabs/AlertsPreferences/ShipmentAlerts/components/data.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

pr changes
  ui/page-components/duties-tax-calculator/components/Form/Pay/PayMethodModal/index.js
  ui/page-components/duties-tax-calculator/components/PendingModal/index.js
  ui/page-components/duties-tax-calculator/components/PendingModal/styles.module.css
  ui/page-components/duties-tax-calculator/components/SuccessModal/index.js
  ui/page-components/duties-tax-calculator/hook/useDraft.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/checkout/commons/AddressForm/hooks/useAddressForm.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/TableHeader/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/ShipmentCard/index.js
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/index.js
  ui/page-components/contract-management/configurations/contract-form-controls.js
  ui/page-components/contract-management/configurations/shipment-header.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

net promoter score
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/index.js
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Body/Rating/index.js
  ui/commons/components/NetPromoterScore/Components/Body/Rating/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Body/index.js
  ui/commons/components/NetPromoterScore/Components/Body/styles.module.css
  ui/commons/components/NetPromoterScore/Components/Title/index.js
  ui/commons/components/NetPromoterScore/Components/Title/styles.module.css
  ui/commons/components/NetPromoterScore/Components/index.js
  ui/commons/components/NetPromoterScore/Components/styles.module.css
  ui/commons/components/NetPromoterScore/constants/color-mapping.js
  ui/commons/components/NetPromoterScore/constants/feedback-mapping.js
  ui/commons/components/NetPromoterScore/hooks/useGetNPS.js
  ui/commons/components/NetPromoterScore/hooks/useSubmitNPS.js
  ui/commons/constants/imageUrl.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

feedback options changed
  ui/commons/components/NetPromoterScore/Components/Body/Feedback/index.js
  ui/commons/components/NetPromoterScore/Components/index.js
  ui/commons/components/NetPromoterScore/constants/feedback-mapping.js
  ui/commons/components/NetPromoterScore/constants/feedback-title-mapping.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

insurance fix
  ui/page-components/checkout/commons/RateSummary/Footer/EmailConfirmation/index.js
  ui/page-components/checkout/commons/RateSummary/Footer/EmailConfirmation/styles.module.css
  ui/page-components/checkout/commons/RateSummary/Footer/index.js
  ui/page-components/search-results/commons/CargoInsurance/EmptyState/index.js
  ui/page-components/search-results/commons/CargoInsurance/PremiumRate/index.js
  ui/page-components/search-results/commons/CargoInsurance/controls.js
  ui/page-components/search-results/commons/CargoInsurance/index.js
  ui/page-components/search-results/components/AdditionalServices/DeleteConfirmation.js
  ui/page-components/search-results/components/AdditionalServices/styles.module.css
  ui/page-components/search-results/hooks/useGetCargoInsuranceRate.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/ServiceDetails/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/index.js
  ui/page-components/shipments/constants/possible-full-route.json
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/checkout/commons/RateSummary/Footer/EmailConfirmation/index.js
  ui/page-components/search-results/commons/CargoInsurance/controls.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/Overview/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

changes
  public/locales/en-IN/subscriptions.json
  public/locales/vi-VN/subscriptions.json
  ui/commons/components/CreateOrganizationModel/Components/AddAddressModal/index.js
  ui/commons/components/CreateOrganizationModel/hooks/useCreateBillingAddres.js
  ui/page-components/cogo-subscriptions/components/checkout/BillingDetails/index.js
  ui/page-components/cogo-subscriptions/components/checkout/Charges/index.js
  ui/page-components/cogo-subscriptions/components/checkout/subscriptionDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/CreateOrganizationModel/hooks/useCreateBillingAddres.js
Owners: @Cogoport/platform-engineering, @vikas-cogo

disable
  ui/page-components/contract-management/components/ShipmentPlan/PlanCard/CreatePlanModal/ShipmentDetails/Layout/ChildFormat/child.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: condition
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

fix: actions
  packages/forms/Controlled/CountrySelectController.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: actions
  packages/forms/Controlled/CountryCodeSelectController.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes
  ui/page-components/hs-code-classification/common/EmptyState/index.js
  ui/page-components/hs-code-classification/hooks/useHSCode.js
  ui/page-components/ocean-schedules/components/ActiveSchedules/index.js
  ui/page-components/ocean-schedules/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix: syntax
  .github/workflows/build.yml
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

fix: syntax
  packages/forms/Controlled/CountryCodeSelectController.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: syntax
  packages/forms/Business/SelectCountryCode/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: syntax
  packages/forms/Business/SelectCountryCode/index.js
  packages/forms/Controlled/CountrySelectController.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: syntax
  packages/forms/Business/SelectCountryCode/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: syntax
  packages/forms/Business/SelectCountryCode/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix: syntax
  packages/forms/Business/SelectCountryCode/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

Update build.yml
  .github/workflows/build.yml
Owners: @prashantp01, @vikas-cogo

fix: actions
  .github/workflows/lint.yml
Owners: @prashantp01, @vikas-cogo

pr changes
  ui/page-components/cogo-subscriptions/components/balance-history/component/List/TableList/index.js
  ui/page-components/cogo-subscriptions/hooks/useCompleteOrder.js
  ui/page-components/cogo-subscriptions/hooks/useVerifyRazorPayStatus.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/commons/components/CreateOrganizationModel/hooks/useCreateBillingAddres.js
  ui/commons/constants/globals.js
  ui/page-components/checkout/commons/RateSummary/Footer/EmailConfirmation/index.js
  ui/page-components/cogo-subscriptions/hooks/useCompleteOrder.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

prchanges
  ui/page-components/checkout/commons/RateSummary/Footer/EmailConfirmation/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

integrated get_multimodal_route in ied/ iec
  packages/request/helpers/request.js
  ui/commons/components/CogoMaps2/MapComp.js
  ui/commons/components/CogoMaps2/Pointer/index.js
  ui/commons/components/CogoMaps2/Route/index.js
  ui/commons/components/CogoMaps2/index.js
  ui/commons/components/CogoMaps2/styles.module.css
  ui/commons/hooks/useGetMapRoute.js
  ui/page-components/air-ocean-tracking/hooks/useGetListTracker.js
  ui/page-components/duties-tax-calculator/components/Map/index.js
  ui/page-components/import-export-controls/common/MapContainer/index.js
  ui/page-components/import-export-controls/common/MapContainer/styles.module.css
  ui/page-components/import-export-controls/components/Checkout/Info/index.js
  ui/page-components/import-export-controls/components/Main/Details/index.js
  ui/page-components/import-export-documents/common/MapContainer/index.js
  ui/page-components/import-export-documents/common/MapContainer/styles.module.css
  ui/page-components/import-export-documents/components/Checkout/Info/index.js
  ui/page-components/import-export-documents/components/Main/Details/index.js
  ui/page-components/import-export-documents/hooks/useInfoValidateFn.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/IEPocAndSop/Poc/AddCompany/ExistingCompany/controls.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

pr changes
  ui/page-components/product-catalouge/common/List/EmptyState/index.js
  ui/page-components/product-catalouge/components/ProductsList/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

fix
  ui/page-components/import-export-documents/hooks/useInfoValidateFn.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

build fix
  ui/page-components/product-catalouge/components/ProductsList/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

VESSEL MAPPING
  ui/page-components/contract-management/configurations/shipment-header.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

csat
  ui/commons/components/CustomerSatisfaction/components/Body/Rating/index.js
  ui/commons/components/CustomerSatisfaction/components/Body/Rating/styles.module.css
  ui/commons/components/CustomerSatisfaction/components/Body/RatingText/index.js
  ui/commons/components/CustomerSatisfaction/components/Body/RatingText/styles.module.css
  ui/commons/components/CustomerSatisfaction/components/Body/index.js
  ui/commons/components/CustomerSatisfaction/components/Title/index.js
  ui/commons/components/CustomerSatisfaction/components/Title/styles.module.css
  ui/commons/components/CustomerSatisfaction/components/index.js
  ui/commons/components/CustomerSatisfaction/components/styles.module.css
  ui/commons/components/CustomerSatisfaction/constants/feedback-options.js
  ui/commons/components/CustomerSatisfaction/constants/feedback-title-mapping.js
  ui/commons/components/CustomerSatisfaction/constants/service-name-title-mapping.js
  ui/commons/components/CustomerSatisfaction/hooks/useGetCsatScore.js
  ui/commons/components/CustomerSatisfaction/hooks/useSubmitCsat.js
  ui/commons/components/CustomerSatisfaction/index.js
  ui/commons/components/CustomerSatisfaction/styles.module.css
  ui/page-components/air-schedules/components/ActiveSchedules/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/index.js
  ui/page-components/freight-rate-trend/active-freight-rate-trend/styles.module.css
  ui/page-components/ocean-schedules/components/ActiveSchedules/index.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

billingaddress
  ui/page-components/cogo-subscriptions/components/checkout/BillingDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

chnages
  ui/commons/components/CogoMaps2/MapComp.js
  ui/commons/components/CogoMaps2/Route/index.js
  ui/commons/constants/mapConstant.js
  ui/page-components/air-ocean-tracking/common/MapContainer/MapsComp.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/MapComps.js
  ui/page-components/air-ocean-tracking/components/TrackerDetails/TrackingInfo/Map/Route/index.js
  ui/page-components/air-ocean-tracking/hooks/useGetMapRoute.js
  ui/page-components/import-export-controls/hooks/useInfoValidate.js
Owners: @Cogoport/platform-engineering, @vikas-cogo, @prashantp01

decrease zoom
  ui/page-components/import-export-controls/components/Checkout/Info/index.js
  ui/page-components/import-export-controls/hooks/useOceanRoute.js
  ui/page-components/import-export-documents/components/Checkout/Info/index.js
  ui/page-components/import-export-documents/hooks/useOceanRoute.js
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

no data
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/index.js
  ui/page-components/shipments/components/ShipmentDetails/Details/Customer/components/Tabs/SalesInvoice/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @vikas-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @vikas-cogo

# Github Actions
.github/ @prashantp01 @vikas-cogo

# Packages
packages/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
ui/commons/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_app/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/_document/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/authentication/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/dashboard/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/get-started/ @Cogoport/platform-engineering @vikas-cogo
ui/page-components/profile/ @Cogoport/platform-engineering @vikas-cogo
